---
layout: default
title: Contact
description: Find out how to contact S. Carey for booking, publicity, or licensing inquiries.
---

{% macro H2(text) %}
<h2 class="text-3xl font-normal mb-2">{{text}}</h2>
{% endmacro %} {% macro Person(person) %}
<div>
  <h3 class="text-lg mb-1 text-gray-600">{{person.region}}</h3>
  <p class="flex text-xl font-normal flex-col tracking-wide">{{person.name}}</p>
  <p class="text-gray-600 mb-2">{{ person.company}}</p>
  <a class="block" href="mailto:{{person.email}}">{{person.email}}</a>
  <a class="block" href="tel:{{person.phone}}">{{person.phone}}</a>
</div>
{% endmacro %}

<div class="md:grid grid-cols-3 gap-24 readable p-4 -m-4 grid-rows-1">
  <div class="mb-16 md:mb-0">
    {{ H2("Booking") }} {% for contact in contacts.booking %}
    <div class="mb-10">
      {{ Person(contact)}}
    </div>
    {% endfor %}
  </div>

  <div class="mb-16 md:mb-0">
    {{ H2("Publicity") }} {% for contact in contacts.publicity %}
    <div class="mb-10">
      {{ Person(contact) }}
    </div>
    {% endfor %}
  </div>

  <div>
    <div class="mb-16 md:mb-12">
      {{ H2("Management") }} {{Person(contacts.management)}}
    </div>
    <div>
      {{ H2("Licensing") }} {{Person(contacts.licensing)}}
    </div>
  </div>
</div>
