/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
    @include clearfix;
    clear: both;
    position:relative;
    //height:6em;
    //margin-top:-6em;
    text-align:center;
    background:$lightblack;
    a {
        display: block;
        display: inline-block;
        padding: $base-spacing-unit;
        width: 50%;
        color:darken($darkgrey,20%);
        //@include span-columns(2, 12);
        &:last-child {
            @include at-breakpoint($medium) {

            }
        }
        &:hover {
            color: $orange;
        }
        @include at-breakpoint($medium) {
            padding:$base-spacing-unit $base-spacing-unit;
            width: auto;
        }
    }
}

.logo-footer {
    display: none;
    @include at-breakpoint($medium) {
        display: inline-block;
        padding: $base-spacing-unit $base-spacing-unit;
        position: static;
        width: auto;
        height: auto;
        font-size: $micro-size;
    }
}