/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
footer {
    display: flex;
    flex-direction: column;
    text-align:center;
    svg {
        fill: $white;
        width: 25px;
    }

    .footer__top {
        display: flex;
        justify-content: space-around;
        margin-bottom: 12px;

        @include at-breakpoint($medium) {
            justify-content: center;
        }

        a {
            text-decoration: none;
            padding: 0 $base-spacing-unit;
            &:hover {
                color: $brand-main;
            }
            @include at-breakpoint($medium) {
                padding: $base-spacing-unit/2 $base-spacing-unit;
                width: auto;
                border-bottom: none;
                &:first-child {
                    border-top: none;
                }
            }
        }
    }

}



.logo-footer {
    margin-bottom: $padding;
    display: block;
    font-size: $micro-size;
}
