/*------------------------------------*\
    $HELPERS
\*------------------------------------*/



/****
* Hide
****/
.hide {
    position:absolute;
    top:-99999px;
    left:-99999px;
}


/****
* Italic
****/
.italic {
    font-style: italic;
}
