/*------------------------------------*\
    $HELPERS
\*------------------------------------*/



/****
* Hide
****/
.hide {
    position:absolute;
    top:-99999px;
    left:-99999px;
}


/****
* Italic
****/
.italic {
    font-style: italic;
}




/****
* Center
****/
.center {
    text-align: center;
}



/****
* Bold
****/
.bold {
    font-weight: 600;
}


/****
* No Margin bottom
****/
.no-margin-bottom,
.no-margin-bottom p {
    margin-bottom: 0;
}


/****
* No text transform
****/
.no-text-transform {
    text-transform: none;
}


/****
* Loading
****/
// .loading:after {
//     content: "";
//     display: block;
//     width: 50px;
//     height: 50px;
//     margin: $base-spacing-unit auto;
//     background: url('../img/loader.gif') center center no-repeat;
//     background-size: 100%;
// }
.loading:after {
    @include animation(spin 500ms infinite linear);
    content: '';
    display: block;
    margin: $base-spacing-unit auto;
    border-bottom: 3px solid $white;
    border-left: 3px solid $white;
    border-right: 3px solid $brand-main;
    border-top: 3px solid $brand-main;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.no-cssanimations .loading:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: $base-spacing-unit auto;
    background: url('../img/loader.gif') center center no-repeat;
    background-size: 100%;
}


/****
* Brand color
****/
.brand-color {
    color: $brand-main !important;
}



/****
* Bordered Image
****/
.img--bordered img {
    border: 1px solid #d9d9d9;
}


/****
* Inline-block
****/
.inline-block {
    display: inline-block;
    vertical-align: middle;
}


.w-100 {
    width: 100%;
}

.ttu {
    text-transform: uppercase;
}

.text-bg {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
}

.pa-small {
    padding: $smallpadding;
}

.pa {
    padding: $padding;
}

@include at-breakpoint($medium) {
    .w-50-ns {
        width: 50%;
    }
}
