/*------------------------------------*\
    $HELPERS
\*------------------------------------*/



/****
* Hide
****/
.hide {
    position:absolute;
    top:-99999px;
    left:-99999px;
}


/****
* Italic
****/
.italic {
    font-style: italic;
}




/****
* Center
****/
.center {
    text-align: center;
}



/****
* Bold
****/
.bold {
    font-weight: 500;
}