#mc_embed_signup {
    margin-bottom: $base-spacing-unit;
    h2 {
        @extend .gamma;
        text-align: center;
    }

    button {
        background: $brand-main;
    }

    .mc-field-group,
    .indicates-required,
    .mce-responses,
    .clear {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .mc-field-group {
        margin-bottom: $base-spacing-unit/2;
        label {
            display: block;
        }
        input {
            border: none;
            outline: none;
            width: 100%;
            padding: 5px;
        }
    }
}
