#mc_embed_signup {
    margin-bottom: $base-spacing-unit;
    border: 1px solid $white;
    padding: 12px;
    color: $white;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    @include at-breakpoint($medium) {
        max-width: 400px;
    }

    h2 {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .indicates-required {
        display: none;
    }

    button {
        background: $brand-main;
    }

    .mc-field-group,
    .indicates-required,
    .mce-responses,
    .clear {
        margin-left: auto;
        margin-right: auto;
    }

    input[type="submit"] {
        border: none;
        background: $brand-alt;
        padding: $padding;
        color: #f8f8f8;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 0.7rem;
        width: 100%;
        -webkit-appearance: none;

        @include at-breakpoint($medium) {
            width: auto;
        }
    }

    .mc-field-group {
        margin-bottom: 12px;
        label {
            display: block;
            text-transform: uppercase;
            font-size: 0.8rem;
            padding: 5px 0;
        }
        input[type="email"] {
            border: none;
            width: 100%;
            padding: 8px;
            background: $white;
            border-bottom: 1px solid #999;
            font-size: 0.8rem;
            transition: border-color 300ms;
            border-radius: 3px;

            &:focus {
                border-color: $brand-main;
            }
        }
    }
}
