/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/
header {
    margin-bottom: $base-spacing-unit;
}


/****
* Main Navigation
****/
.main-nav {
    @include clearfix;
    //padding: $base-spacing-unit 0;
    text-transform: uppercase;
    @include at-breakpoint($medium) {
        text-align:center;
        padding:0;
    }
    a {
        @extend .header-font;
        display: inline-block;
        padding: $base-spacing-unit/2;
        &:hover {
            color: $brand-alt;
        }
        @include at-breakpoint($medium) {
            position:relative;
            top:-10px;
            padding:0 $base-spacing-unit/2;
        }
        @include at-breakpoint($large) {
            top:-20px;
            padding:0 $base-spacing-unit/2;
        }
    }
    .logo-nav {
        @extend .gamma;
        top: 0;
        float:left;
        //margin-left:5px;
        color: $brand-main;
        @include at-breakpoint($medium) {
            display:inline;
            margin-left:0;
            float:none;
            font-weight:100;
            font-size: $kilo-size;
            line-height:1;
        }
        @include at-breakpoint($large) {
            font-size: $mega-size;
        }
    }
}



/* Hide irrelevant icons on small view */
.blog .tour-nav, .blog .albums-nav, .blog .media-nav, .blog .store-nav, .blog .contact-nav,
.tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav,
.albums .blog-nav, .albums .tour-nav, .albums .media-nav, .albums .store-nav, .albums .contact-nav,
.media .blog-nav, .media .tour-nav, .media .albums-nav, .media .store-nav, .media .contact-nav,
.store .blog-nav, .store .tour-nav, .store .albums-nav, .store .media-nav, .store .contact-nav,
.contact .blog-nav, .contact .tour-nav, .contact .albums-nav, .contact .media-nav, .contact .store-nav,
.home .blog-nav, .home .tour-nav, .home .albums-nav, .home .media-nav, .home .store-nav, .home .contact-nav {
    display:none;
    @include at-breakpoint($medium) {
        display:inline-block;
    }
}

//Only for no-js
.close-nav {
    display:none;
}




/****
* Active menus
****/
.blog a.blog-nav,
.tour a.tour-nav,
.albums a.albums-nav,
.media a.media-nav,
.store a.store-nav,
.contact a.contact-nav {
    @extend .gamma;
    //margin:0 0 0 $padding/4;
    padding-left: 0;
    margin-left: (-$base-spacing-unit/4);
    @include at-breakpoint($medium) {
        margin-left:0;
        color:$brand-alt;
        font-size:$base-font-size;
    }
}

a.active {
    color:$brand-alt;
}




/****
* Nav toggle
****/
.more-nav {
    @extend .beta;
    position: relative;
    top: -$base-spacing-unit/8;
    float: right;
    padding: 0 $base-spacing-unit/2;
    //border-left: 1px solid lighten($black, 20%);
    text-align: center;
    line-height: 1;
    @include at-breakpoint($medium) {
        display: none;
    }
    &[data-icon]:before {
        display: inline-block;
        vertical-align: middle;
        @include at-breakpoint($medium) {
            content:"";
        }
    }
    span {
        display: inline-block;
        vertical-align: middle;
        font-size: $milli-size;
    }
}


/****
* Mobile Flyout
****/
.mobile-flyout {
    @include transform(translateX(-100%));
    @include transition-property(transform);
    @include transition-duration(200ms);
    @include transition-timing-function(ease-in-out);
    position:absolute;
    width:100%;
    z-index:10;
    @include at-breakpoint($medium) {
        display:none;
    }
    a {
        @extend .header-font;
        display:block;
        padding:$base-spacing-unit/2;
        width:100%;
        font-size: $h4-size;
        color: $white;
        //text-align:center;
        background:$lightblack;
        border-bottom: 1px solid lighten($black, 20%);
    }
    [data-icon]:before {
        display:block;
        margin-bottom: $base-spacing-unit/2;
        font-size:$h1-size;
        color: $offblack;
    }
}


/****
* For no JS navigation
****/
.main-nav-check {
    display:none;
}

.nojs-mobile-nav {
    display:none;
}

.no-js {
    .more-nav {
        display:none;
    }
    .nojs-mobile-nav {
        display:block;
        float:right;
        padding-right:$padding;
        cursor: pointer;
        @include at-breakpoint($medium) {
            display:none;
        }
    }
    #main-nav-check:checked + #mobile-flyout {
            left:0;
            z-index:1;
    }
}



/****
* Flyout active
****/
.nav--active {
    @include transform(translateX(0));
}



/****
* Page Navigation
****/
.page-nav {
    position:relative;
    //margin-bottom:$base-spacing-unit;
    overflow:auto;
    text-align:center;
    a {
        display:inline-block;
        padding:$base-spacing-unit/2 0;
        color: $background;
        background:$lightblack;
        border-bottom:2px solid transparent;
        border-right: 1px solid lighten($black, 20%);
        &:last-child {
            border-right:none;
        }
        &:hover {
            border-bottom:2px solid $brand-main;
            @include transition(border .1s);
        }
        @include at-breakpoint($medium) {
            padding:$base-spacing-unit 0 $base-spacing-unit/2;
            color:$offblack;
            background:none;
            border-right:none;
        }
    }
}



.page-nav--3 {
    a {
        width:33.33%;
        float:left;
        &:last-child {
            width:33.34%;
        }
        @include at-breakpoint($medium) {
            @include container;
            float:none;
            width:auto;
            display:inline-block;
            &:last-child {
                width: auto;
            }
        }
    }
}


.page-nav--2 {
    a {
        width:50%;
        float:left;
        @include at-breakpoint($medium) {
            @include container;
            float:none;
            width:auto;
            display:inline-block;
        }
    }
}


a.page-active {
    border-bottom:2px solid $brand-main;
    color: $orange;
    @include at-breakpoint($medium) {
        color: $offblack;
    }
}

