/*------------------------------------*\
    $PAGE
\*------------------------------------*/

/****
* Font-face
****/
@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo/entypo.eot');
    src:url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo/entypo.woff') format('woff'),
        url('../fonts/entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/****
* Typekit prevent FOUT
****/
.wf-loading {
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
  }


body > .wrap {
    height:auto;
    min-height:100%;
    @include at-breakpoint($medium) {
        overflow-x: hidden;
    }
}


/****
  * Main content
  ****/
  .main-content {
    width:95%;
    margin:0 auto;
    clear:both;
    padding-bottom:10em;
    position:relative;
    opacity: 1;
    @include transition(opacity 1000ms ease-in-out);
    h1 {
        text-align:center;
    }
    img {
        outline: 1px solid #d9d9d9;
        border-radius:3px;
    }
    @include at-breakpoint($medium) {
        @include container;
    }
}

.no-js .main-content {
    left: 0 !important;
    opacity: 1 !important; //for no-js users
}


/****
* Loading state
****/
.loading {
    //opacity: 0.7;
    &:before {
        content: "";
        left: 0;
        top: 0px;
        position: absolute;
        width: 0%;
        height: 5px;
        background: $orange;
        @include animation(grow 2s ease-in-out infinite);
    }
}

