/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html,
body {
    padding:0;
    margin:0;
    height:100%;
}

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

body {
    @include transform(translate3d(0,0,0)); // used to fix scroll lag from fixed background image
    margin: 0;
    height: 100%;
    overflow-x:hidden;
    font-family: "brandon-grotesque", "Helvetica Neue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight:300;
    font-size: #{($base-font-size/16px)*1em}/#{$line-height-ratio};
    -webkit-font-smoothing: antialiased !important;
    color:$black;
    background: #f8f8f8 url("../img/bg--mobile.jpg") top left no-repeat;
    //background-size: cover;
    @include at-breakpoint($medium) {
        overflow:auto;
        background: #f8f8f8 url("../img/bg.jpg") fixed left bottom no-repeat;
    }
}

.no-js body {
    font-weight:100;
}


body > .wrap {
    height:auto;
    min-height:100%;
    margin-bottom: -5em;
    &:after {
        content: '';
        display: block;
        height: 5em;
    }
    @include at-breakpoint($medium) {
        overflow-x: hidden;
    }
}


/****
  * Main content
  ****/
  .main-content,
  #main {
    position:relative;
    margin:0 auto;
    clear:both;
    //width:95%;
    padding: 0 $base-spacing-unit/2 0;
    //padding-bottom:10em;
    opacity: 1;
    @include transition(opacity 1000ms ease-in-out);
    img {
        //outline: 1px solid $grey;
        //border-radius:3px;
    }
    @include at-breakpoint($medium) {
        @include container;
    }
}

