/*------------------------------------*\
    $PAGE
\*------------------------------------*/

body > .wrap {
    height:auto;
    min-height:100%;
    @include at-breakpoint($medium) {
        overflow-x: hidden;
    }
}


/****
  * Main content
  ****/
  .main-content {
    width:95%;
    margin:0 auto;
    clear:both;
    padding-bottom:10em;
    position:relative;
    opacity: 1;
    @include transition(opacity 1000ms ease-in-out);
    h1 {
        //text-align:center;
    }
    img {
        outline: 1px solid #d9d9d9;
        border-radius:3px;
    }
    @include at-breakpoint($medium) {
        @include container;
    }
}

