/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
/****
* Font-face
****/
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icons/icomoon.eot');
    src:url('../fonts/icons/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../fonts/icons/icomoon.svg#icomoon') format('svg'),
        url('../fonts/icons/icomoon.woff') format('woff'),
        url('../fonts/icons/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/****
* Typekit prevent FOUT
****/
.wf-loading {
    /* Hide the blog title and post titles while web fonts are loading */
    visibility: hidden;
  }


/****
* Font icons
****/
[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "trajan-sans-pro",sans-serif;
    font-weight: 200;
}

h1, .alpha { font-size: $h1-size; }
h2, .beta { font-size: $h2-size; }
h3, .gamma { font-size: $h3-size; }
h4, .delta { font-size: $h4-size; }
h5, .epsilon { font-size: $h5-size; }
h6, .zeta { font-size: $h6-size; }

.giga {
    font-size: $h1-size*1.2;
}

.header-font {
    font-family: "trajan-sans-pro",sans-serif;
}