<footer id="footer">
    <a class="facebook-footer" data-icon="" aria-hidden="true" href="http://facebook.com/scareymusic"><span class="hide">facebook</span></a>
    <a class="twitter-footer" data-icon="" aria-hidden="true" href="http://twitter.com/scareymusic"><span class="hide">twitter</span></a>
    <a class="logo-footer" href="#"><img src="../assets/img/logo/logo.svg"</a>
    <a class="soundcloud-footer" data-icon="" aria-hidden="true" href="http://soundcloud.com/scareymusic"><span class="hide">soundcloud</span></a>
    <a class="twitter-footer" data-icon="" aria-hidden="true" href="http://vimeo.com/scareymusic"><span class="hide">vimeo</span></a>
</footer>