<nav id="nav" class="main-nav">

    <a class="blog-nav" aria-hidden="true" href="/blog"><span class="">Blog</span></a>
    <a class="tour-nav" aria-hidden="true" href="/tour/upcoming"><span class="">Tour</span></a>
    <a class="albums-nav" aria-hidden="true" href="/albums/lp"><span class="">Albums</span></a>
    <a class="logo-nav" href="/" class="logo">S. Carey</a>
    <a class="media-nav" aria-hidden="true" href="/media/audio"><span class="">Media</span></a>
    <a class="store-nav" aria-hidden="true" href="/store"><span class="">Store</span></a>
    <a class="contact-nav" aria-hidden="true" href="/contact"><span class="">Contact</span></a>
    <a class="more-nav" data-icon="" aria-hidden="true" ><span class="">Menu</span></a>
    <label for="main-nav-check" class="nojs-mobile-nav" data-icon="" aria-hidden="true" href="#mobile-flyout"><span class="hide">Close</span></label>
</nav>
<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav id="mobile-flyout" class="mobile-flyout">
    <a class="blog-nav-mobile" href="/blog"><span class="">Blog</span></a>
    <a class="tour-nav-mobile" href="/tour/upcoming"><span class="">Tour</span></a>
    <a class="albums-nav-mobile" href="/albums/lp"><span class="">Albums</span></a>
    <a class="media-nav-mobile" href="/media/audio"><span class="">Media</span></a>
    <a class="store-nav-mobile" href="/store"><span class="">Store</span></a>
    <a class="contact-nav-mobile" href="/contact"><span class="">Contact</span></a>
</nav>
