<nav id="nav" class="main-nav">

    <a class="songs-nav" aria-hidden="true" href="/songs"><span class="">Songs</span></a>
    <a class="videos-nav" aria-hidden="true" href="https://www.youtube.com/channel/UCgdOK7aUpVskDXxVAQCG8UA" target="_blank" rel="noopener"><span class="">Videos</span></a>
    <a class="pics-nav" aria-hidden="true" href="https://www.instagram.com/scareypics" target="_blank" rel="noopener"><span class="">Pics</span></a>
    <a class="logo-nav" href="/" class="logo"><img src="/assets/img/logo.png" alt="S. Carey Logo"/></a>
    <a class="tour-nav" aria-hidden="true" href="/tour/upcoming"><span class="">Tour</span></a>
    <!-- <a class="albums-nav" aria-hidden="true" href="/albums/lp"><span class="">Albums</span></a> -->
    <a class="store-nav" aria-hidden="true" href="/store"><span class="">Store</span></a>
    <a class="contact-nav" aria-hidden="true" href="/contact"><span class="">Contact</span></a>
    <a class="more-nav" data-icon="" aria-hidden="true" ><span class="hide">Menu</span></a>
    <label for="main-nav-check" class="nojs-mobile-nav" data-icon="" aria-hidden="true" href="#mobile-flyout"><span class="hide">Close</span></label>
</nav>
<input type="checkbox" class="main-nav-check" id="main-nav-check" />
<nav id="mobile-flyout" class="mobile-flyout">
    <a class="songs-nav-mobile" href="/songs"><span class="">Songs</span></a>
    <a class="videos-nav-mobile" aria-hidden="true" href="https://www.youtube.com/channel/UCgdOK7aUpVskDXxVAQCG8UA" target="_blank" rel="noopener"><span class="">Videos</span></a>
    <a class="pics-nav-mobile" aria-hidden="true" href="https://www.instagram.com/scareypics" target="_blank" rel="noopener"><span class="">Pics</span></a>
    <a class="tour-nav-mobile" href="/tour/upcoming"><span class="">Tour</span></a>
    <a class="store-nav-mobile" href="/store"><span class="">Store</span></a>
    <a class="contact-nav-mobile" href="/contact"><span class="">Contact</span></a>
</nav>
