{% include head.html %}

<body class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    {% for items in page.nav %}
                        {% capture itemlength %}{{ forloop.length }}{% endcapture %}
                    {% endfor %}
                    <div class="page-nav page-nav--{{ itemlength }}">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if page.filter %}
                    {% include filter.html %}
                {% endif %}

        </header>

        <div id="main-content" class="main-content">

                {{ content }}

        </div><!-- End main content -->

        {% include footer.html %}
    </div>


{% include foot.html %}
