{% include head.html %}

<body class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    <div class="page-nav">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

        </header>

        <div id="main-content" class="main-content">

            <section class="timeline">

                <div class="event event--right">
                    <h1>May 2013</h1>
                    <article>
                        <h2>Tour: </h2>
                        <div class="cloud">
                            <p><span class="bold">Spring Green, WI</span><span>Shitty Barn Sessions</span></p>
                            <p><span class="bold">Evanston, IL</span><span>Space</span></p>
                            <p><span class="bold">Iowa City, IA</span><span>The Mill</span></p>
                            <p><span class="bold">Milwaukee, WI</span><span>Turner Hall</span></p>
                            <p><span class="bold">Eau Claire, WI</span><span>State Theater Backstage</span></p>
                            <p><span class="bold">Washburn, WI</span><span>Stagenorth</span></p>
                        </div>
                    </article>
                </div>

                <div class="event event--left">
                    <h1>April 2013</h1>
                    <article>
                        <h2>Solo Set</h2>
                        <div class="cloud">
                            <p><span class="bold">Minneapolis, MN</span><span>Ensia Live</span></p>
                        </div>
                        <h2>With:</h2>
                        <p>visual artist Gregory Euclide</p>
                    </article>
                </div>

                <div class="event event--right">
                    <h1>August 2012</h1>
                    <article>
                        <h2>Show: </h2>
                        <div class="cloud">
                            <a>Minneapolis, MN / Lake Harriet Bandshell</a>
                        </div>
                    </article>
                </div>

                <div class="event event--left">
                    <h1>January 2012</h1>
                    <article>
                        <h2>Show</h2>
                        <div class="cloud">
                            <a>Madison, WI / High Noon Saloon</a>
                        </div>
                    </article>
                </div>

                <div class="event event--right">
                    <h1>June/July 2011</h1>
                    <article>
                        <h2>Tour: </h2>
                        <div class="cloud">
                            <a>Cambridge, MA / TT the Bears</a>
                            <a>New York, NY / Bowery Ballroom</a>
                            <a>Philadelphia, PA / Johnny Brenda's</a>
                            <a>Washington, DC / Black Cat</a>
                            <a>Orlando, FL / The Social</a>
                            <a>Atlanta, GA / The Earl</a>
                            <a>Birmingham, AL / The Bottletree</a>
                            <a>New Orleans, LA / One Eye Jacks</a>
                            <a>Baton Rouge, LA / Spanish Moon</a>
                        </div>
                        <h2>With</h2>
                        <p>David Bazan</p>
                    </article>
                </div>
            </section>

                {{ content }}

        </div><!-- End main content -->

    </div>

    {% include footer.html %}

{% include foot.html %}