// Core imported by default. You can also import 'animate' for predefined animations.
@import "animation/core";


@include keyframes(slide-fade-from-left) {
    0% {
        opacity: 0;
        //left: -50px;
        @include transform(translateX(-50px));
    }
    100% {
        opacity: 1;
        //left: 0;
        @include transform(translateX(0));
    }
}



@include keyframes(slide-fade-from-right) {
    0% {
        opacity: 0;
        @include transform(translateX(50px));
    }
    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

@include keyframes(slide-fade-from-bottom) {
    0% {
        opacity: 0;
        @include transform(translateY(50px));
    }
    100% {
        opacity: 1;
        @include transform(translateY(0));
    }
}