/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/


$smallpadding: 5px;
$padding: 1em;
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;


$orange: #C08A59;
$blue: #5b93ab;
$white: #ababab;
$lightgrey: #f2f2f2;
$grey: #eaeaea;
$darkgrey: #d9d9d9;
$darkestgrey: #999999;
$offblack: #111;
$lightblack: #333;

$background: #f7f7f7;



/****
* Font sizes
****/
$regularfont: 1.4em;
$largefont: 3em;

//$base-font-size:    18px!default; //Defined in Susy variables
$base-line-height:  27px!default;
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           43px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma
$h4-size:           20px!default; // .delta
$h5-size:           16px!default; // .epsilon
$h6-size:           14px!default; // .zeta

$milli-size:        12px!default;
$micro-size:        10px!default;


/****
* Border radius
****/
$border-radius: 3px;


//Album filter calcualtions
$album_filter_width: 800px;

@function album_thumb_width($album_filter_width, $number_of_albums) {
  @return ($album_filter_width / $number_of_albums);
}