<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "meta.njk" %}
    <link rel="stylesheet" href="/css/built.css" />
    <link rel="canonical" href="https://scarey.org/" />
    {% include "favicon.njk" %}
  </head>
  <body class="flex flex-col">
    <div class="bg">
      <picture>
        <!--<source srcset="/img/bg.webp" type="image/webp" /> -->
        <!--<source srcset="/img/bg.jpg" type="image/jpeg" /> -->
        <img src="/img/bg-plane.png" alt="Hundred Acres Album Cover" />
      </picture>
    </div>
    {% include "header.njk" %}
    <div class="container mx-auto px-4 flex-1">
      {{ content | safe }}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js"></script>
    {% if js %}
    <script src="/js/{{js}}"></script>
    {% endif %}
    <!-- prettier-ignore -->
    {% set inline_js %} {% include "expander.js" %} {% include "credit-focus.js"
    %} {% endset %}
    <!-- prettier-ignore -->
    <script> {{inline_js | safe }}</script>

    {% include "footer.njk" %}
  </body>
</html>
