/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
    background: $orange;
    //@include background-image(linear-gradient($orange, darken($orange, 4%)));
    border:1px solid transparent;
    border-radius:3px;
    color: $offblack;
    padding:$padding $padding/2;
    text-align:center;
    font-size:$regularfont;
    cursor:pointer;
    font-style:normal;
    @include transition(border .2s);
    &:hover {
        @include background-image(linear-gradient($orange, darken($orange, 3%)));
        color:$offblack;
    }
}

.dark-button {
    background: $offblack;
    text-align:center;
    @include transition(background .2s);
    &:hover {
        background: darken($offblack, 5%);
    }
}