---
layout: default
body_class: music
---

<div class="music-content">

    {% for album in site.data.albums %}
    <section id="{{ album.hash }}" class="album">
        <div class="album__left">
            <div>
                <img src="{{ album.cover-front-small }}" />
            </div>
            {% if album.links %}
            <div class="album-links">
                {% for link in album.links %}
                <a class="album-link" href="{{ link.href }}">{{ link.text }}</a>
                {% endfor %}
            </div>
            {% endif %}
            <!-- <div>{{ album.audio }}</div> -->
        </div>
        <div class="album__right">
            <div class="album__info">
                <div class="album__info__header">
                    <h2 class="album-title">{{ album.title }}</h2>
                    <p class="album-release">{{ album.release }}</p>
                </div>

                {% for paragraph in album.blurb %}
                <p>{{ paragraph }}</p>
                {% endfor %}

                <h3 class="album-tracks-header">Tracks</h3>
                {% for track in album.tracks %}
                <div class="album-track {% if track.lyrics %}collapse{% endif %}">
                    <span class="collapse__trigger album-track-name">{{ track.title }}</span>
                    <span class="album-track__lyrics collapse__content italic no-margin-bottom">
                        {% for lyric in track.lyrics %}
                        <p>{{ lyric }}</p>
                        {% endfor %}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <hr />
    {% endfor %}

    <div class="music-social">
        <a class="music-social__soundcloud" href="https://soundcloud.com/scareymusic" target="_blank" rel="noopener">
            <img src="/assets/img/logos/souncloud.png" />
        </a>
        <a class="music-social__spotify" href="https://open.spotify.com/artist/2LSJrlndCuTpdEluvYHc2E" target="_blank" rel="noopener">
            <img src="/assets/img/logos/spotify.png" />
        </a>

        <a class="music-social__apple" href="https://geo.itunes.apple.com/us/artist/s-carey/444298537?mt=1&app=music" target="_blank" rel="noopener">
            <img src="/assets/img/logos/apple-music.svg" />
        </a>

        <a class="music-social__amazon" href="https://www.amazon.com/S.-Carey/e/B0072J5Q56" target="_blank" rel="noopener">
            <img src="/assets/img/logos/amazon.png" />
        </a>
    </div>

</div>
