---
import Layout from "../layouts/Main.astro";
---

<Layout title="Contact | S. Carey">
  <div class="grid grid-cols-3">
    <div class="space-y-2">
      <h2 class="font-brand text-4xl font-light">Booking</h2>
      <div class="flex flex-col gap-8">
        <div>
          <p class="mb-1">US / CAN</p>
          <p class="text-2xl font-normal">Third Wave</p>
          <a href="mailto:scarey@thirdwavemgmt.com">scarey@thirdwavemgmt.com</a>
        </div>
        <div>
          <p class="mb-1">UK / EU</p>
          <p class="text-2xl font-normal">Tom Taaffe</p>
          <p>Wasserman Music</p>
          <a href="mailto:tom.taaffe@teamwass.com">tom.taaffe@teamwass.com</a>
        </div>
      </div>
    </div>

    <div class="space-y-2">
      <h2 class="font-brand text-4xl font-light">Management</h2>
      <div>
        <p class="text-2xl font-normal">Molly Beahen</p>
        <p>Third Wave</p>
        <a href="mailto:scarey@thirdwavemgmt.com">scarey@thirdwavemgmt.com</a>
      </div>
    </div>

    <div class="space-y-2">
      <h2 class="font-brand text-4xl font-light">Licensing</h2>
      <div>
        <p class="text-2xl font-normal">Jon Coombs</p>
        <p>Jagjaguwar</p>
        <a href="mailto:jcoombs@jagjaguwar.com">jcoombs@jagjaguwar.com</a>
      </div>
    </div>
  </div>
</Layout>
