---
import Layout from "../layouts/Main.astro";
import { getCollection } from "astro:content";
import Album from "../components/Album.astro";

const albums = await getCollection("albums");

const sortedAlbums = albums.sort((a, b) => {
  return (
    new Date(b.data.releaseDate).getTime() -
    new Date(a.data.releaseDate).getTime()
  );
});
---

<Layout title="Discography | S. Carey">
  <div>
    <h1 class="font-brand text-primary-500 z-10 mb-4 text-lg font-normal tracking-wide uppercase">
      Discography
    </h1>
    <div class="space-y-24">
      {sortedAlbums.map((album) => <Album album={album.data} />)}
    </div>
  </div>
</Layout>
