---
import Layout from "../layouts/Main.astro";
import { getCollection } from "astro:content";
import SubHeader from "../components/SubHeader.astro";
import Album from "../components/Album.astro";
import Credit from "../components/Credit.astro";

const albums = await getCollection("albums");
const credits = await getCollection("credits");

const sortedAlbums = albums.sort((a, b) => {
  return (
    new Date(b.data.releaseDate).getTime() -
    new Date(a.data.releaseDate).getTime()
  );
});

const sortedCredits = credits.sort((a, b) => {
  return (
    new Date(b.data.releaseDate).getTime() -
    new Date(a.data.releaseDate).getTime()
  );
});
---

<Layout title="Discography | S. Carey">
  <div class="space-y-24">
    <div>
      <SubHeader mainHeader="Discography" subHeader="Albums" />
      <div class="space-y-24">
        {sortedAlbums.map((album) => <Album album={album.data} />)}
      </div>
    </div>
    <div>
      <SubHeader
        mainHeader="Discography"
        subHeader="Production & Performance"
      />
      <div
        class="mb-12 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-6 lg:grid-cols-4"
      >
        {sortedCredits.map((credit) => <Credit credit={credit.data} />)}
      </div>
    </div>
  </div>
</Layout>
