.button {
    background: $grey;
    @include background-image(linear-gradient($orange, darken($orange, 10%))); 
    border:1px solid transparent;
    border-radius:3px;
    color: $offblack;
    padding:$padding $padding/2;
    text-align:center;
    font-size:$regularfont;
    cursor:pointer;
    font-style:normal;
    @include transition(border .2s);
    &:hover {
        border:1px solid $lightblack;
        color:$offblack;
    }
}

.dark-button {
    background: $offblack;
    text-align:center;
    @include transition(background .2s);
    &:hover {
        background: darken($offblack, 5%);
    }
}