.home {
    background:
        url("../img/home_art.png") no-repeat right bottom,
        //url("../img/background_light.png") repeat;
        #f7f7f7 url("../img/bg_gradient.png") repeat-x;
    .main-content {
        width:100%;
        padding-bottom:0;
        left:0;
        opacity:1;
    }

    /* ==========NAV*/
    
    .main-nav {
        width:100%;
        overflow:visible;
        background:none;
        a {
            display:block;
            //background: rgba(17,17,17,.8);
            float:left;
            width:50%;
            padding:1em 0;
            text-align:center;
            color: $white;
            border-right:1px solid $darkgrey;
            font-size:2em;
            &:first-child {
                border-radius:5px 0 0 0;
            }
            &:nth-child(2) {
                border-radius:0 5px 0 0;
            }
            &:nth-child(2), &:nth-child(5), &:nth-child(7) {
                border-right:none;
            }
            border-bottom:1px solid $darkgrey;
            &:nth-child(6), &:nth-child(7) {
                border-bottom:none;
            }
            &:hover {
                color:$orange;
            }
            @include at-breakpoint($medium) {
                background:none;
                display:inline-block;
                width:auto;
                border:none;
                float:none;
                padding:0 1em;
            }
        }
        &:after {
            content:"";
            display:table;
            clear:both;
        }
        [data-icon]:before {
            font-size:4em;
            display:block;
            margin-bottom:$smallpadding;
            color:$lightblack;
        }
        .hide {position:static;font-size:2em;}
        .logo-nav, .more-nav {display:none;}
        @include at-breakpoint($medium) {
            //background: rgba(17,17,17,.5);
            background:none;
            border-radius:3px;
            &:after {
                    content: "";
                }
        }
    }

    .logo-home {
        font-size:4.5em;
        font-weight: 100;
        width:100%;
        @include at-breakpoint($medium) {
            font-size:9em;
        }
        @include at-breakpoint($large) {
            font-size:15em;
        }
    }

    .social-home {
        text-align:center;
        margin-top:$padding*4;
        a {
            color:$lightblack;
            @include span-columns(3,12);
            &:last-child {
                @include span-columns(3 omega, 12);
            }
            &:hover {
                color:$orange;
            }
            @include at-breakpoint($medium) {
                padding:0 $padding;
                &:first-child {
                    padding-left:0;
                }
            }
        }
         [data-icon]:before {
            font-size:$largefont;
         }
         @include at-breakpoint($medium) {
            width: 92%;
            margin: $padding*4 auto 0;
         }
    }
}