/* ========================================BREAKPOINTS */
$medium : 40em 12;
$large: 80em 12;

$smallpadding: 5px;
$padding: 1em;

/* ========================================MIXINS */
$orange: #C08A59;
$blue: #6599B0;
$white: #e6e6e6;
$offblack: #111;