/* ========================================BREAKPOINTS */
$medium : 30em 8;
$large: 50em 12;

$padding: 1em;

/* ========================================MIXINS */
$orange: #C08A59;
$blue: #6599B0;
$white: #e6e6e6;