@import "compass/css3";
@import "_mixins.scss";
@import "susy";

@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo/entypo.eot');
    src:url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo/entypo.woff') format('woff'),
        url('../fonts/entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========================================BASE */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block; }

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    height:100%;
}

body {
    margin: 0;
    height:100%;
    position:relative;
    font-family: "Raleway", sans-serif;
    font-size:2em;
    font-weight:100;
    background: url("../img/background.png");
    color:#cdcdcd;
}

a {
  text-decoration:none;
  color:#e6e6e6;
}

    a:focus {
        outline: thin dotted;
    }

    a:active,
    a:hover {
        outline: 0;
    }

h1 {
    font-weight:300;
    margin: 0;
    padding:0;
}

h2 {
    font-weight:300;
    margin: 0;
}

p {
    margin:0;
}


b,
strong {
    font-weight: bold;
}

img {
    border: 0;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}


/* ========================================LAYOUT */

/* ====================CONTAINER */
.main-content {
    @include container;
    //@include susy-grid-background;

    min-height:100%;
    position:relative;
    padding-bottom: 6em;
    clear:both;
    h1 {
        text-align:center;
    }
    p {
        line-height:1.5em;
        text-indent: 1.5em;
    }

    @include at-breakpoint($medium) {
        @include container;
    }

    @include at-breakpoint($large) {
        @include container;
    }
}

/* ====================FOOTER */
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background: #111;
}


/* ========================================MODULES */
/* ====================FONT ICON */
[data-icon]:before {
    font-family: 'entypo';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    @include at-breakpoint($medium) {
        content:"";
    }
}

/* ====================BUTTONS */
.button {
    background: $orange;
    border-radius:3px;
    color: $offblack;
    padding:$padding/2;
    text-align:center;
    @include transition(background .2s);
    &:hover {
        background: darken($orange, 10%);
    }
}



/* ====================HEADER */
nav {
    text-transform: uppercase;
    background:#111;
    overflow:auto;
    @include at-breakpoint($medium) {
        text-align:center;
    }
    a {
        @include at-breakpoint($medium) {
            padding:0 $padding/2;
        }
    }
    .logo-nav {
        float:left;
        margin-right:5px;
        padding-top:0;
        color: $orange;
        @include at-breakpoint($medium) {
            float:none;
            display:inline;
        }
    }
    .more-nav {
        padding-right:$padding/4;
        @include at-breakpoint($medium) {
            display:none;
        }
    }

}

/* Hide irrelevant icons on small view */
.blog .tour-nav, .blog .albums-nav, .blog .media-nav, .blog .store-nav, .blog .contact-nav,
.tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav,
.albums .blog-nav, .albums .tour-nav, .albums .media-nav, .albums .store-nav, .albums .contact-nav,
.media .blog-nav, .media .tour-nav, .media .albums-nav, .media .store-nav, .media .contact-nav,
.store .blog-nav, .store .tour-nav, .store .albums-nav, .store .media-nav, .store .contact-nav,
.contact .blog-nav, .contact .tour-nav, .contact .albums-nav, .contact .media-nav, .contact .store-nav {
    display:none;
    @include at-breakpoint($medium) {
        display:inline;
    }
}

/* Only show icons on small view */
.hide {
    position:absolute;
    top:-99999px;
    left:-99999px;
    @include at-breakpoint($medium) {
        position:static;
    }
}

.more-nav {
    float:right;
}


/* ====================PAGE NAV */
.page-nav {
    text-align:center;
    margin-bottom:1em;
    a {
        background:#333;
        display:block;
        padding:$padding;
        border-right:1px solid #111;
        line-height:.1em;
        &:last-child {
            border-right:none;
        }
        @include at-breakpoint($medium) {
            background:none;
            color:$white;
            border-right:none;
        }
    }
    @include at-breakpoint($medium) {
        padding:1.5em 0;
    }
}

.tour .page-nav {
    a {
        width:25%;
        float:left;
        @include at-breakpoint($medium) {
            @include container;
                float:none;
                width:auto;
                display:inline-block;
            }
        }
}

.albums .page-nav {
    a {
        width:33%;
        float:left;
        @include at-breakpoint($medium) {
            @include container;
                float:none;
                width:auto;
                display:inline-block;
            }
    }
}

.media .page-nav {
    a {
        width:50%;
        float:left;
        @include at-breakpoint($medium) {
            @include container;
                float:none;
                width:auto;
                display:inline-block;
            }
    }
}

/* ====================BLOG */
.post-date {
    float:left;
}

.post-time {
    float:right;
}

.postText {
    clear:both;
    img {
        max-width:100%;
        height:auto;
    }
}


/* ====================TOUR PAGE */
.tour-header {
    clear:both;
    h1 {
        display:none;
        @include at-breakpoint($medium) {
            display:inline-block;
            @include span-columns(4, 12);
            &:last-child {
                @include span-columns(4 omega, 12);
            }
        }
    }
}

.tour-entry {
    clear:both;
    width:100%;
    padding:$padding 0;
    text-align:right;
    @include at-breakpoint($medium) {
        text-align:center;
    }
    div {
        margin:$padding 0;
        @include at-breakpoint($medium) {
            margin:0;
            display:inline-block;
            @include span-columns(4, 12);
            &:last-child {
                @include span-columns(4 omega, 12);
            }
        }
    }
    .tour-date, .tour-city, .tour-venue {
        &:before {
            float:left;
            color:$blue;
            @include at-breakpoint($medium) {
                display:none;
            }
        }
    }
    .tour-date {
        &:before {
            content: "DATE";
        }
    }
    .tour-city {
        &:before {
            content:"CITY";
        }
    }
    .tour-venue {
        &:before {
            content:"VENUE";
        }
    }
}


/* ====================ALBUMS PAGE */
.album-block {
    h1 {
        clear:both;
    }
}
.album-release {
    text-align:center;
    margin-bottom:2em;
}

.album-cover {
    img {
        margin-bottom:2em;
        max-width:100%;
        height:auto;
        @include at-breakpoint($medium) {
            max-width:50%;
            @include span-columns(4, 8);
        }
    }
}

.album-blurb {
    padding-bottom:$padding*2;
    @include at-breakpoint($medium) {
        @include span-columns(4 omega, 8);
    }
    @include at-breakpoint($large) {
    }
}

.album-tracklist {
    h2 {
        background:#333333;
        border-radius:3px 3px 0 0;
        padding:$smallpadding;
        border-bottom:1px solid $orange;
        margin-bottom:$smallpadding;
    }
    .album-track {
        clear:both;
        overflow:auto;
        margin:$smallpadding*2 0;
    }
    .album-track-name {
        float:left;
    }
    .album-track-duration {
        float:right;
    }
    @include at-breakpoint($medium) {
        clear:both;
        @include span-columns(4, 8);
    }
}

.album-purchase {
    a {
        outline:1px solid black;
        display:block;
        width:100%;
        clear:both;
        margin:$padding 0;
        @include at-breakpoint($medium) {
            width:90%;
            margin:0 auto $padding;
        }
    }
    @include at-breakpoint($medium) {
        @include span-columns(4 omega, 8);
        text-align:center;
    }
}


/* ====================CONTACT PAGE */
.contact-block {
    text-align:center;
    .booking-us-can {
        @include at-breakpoint($medium) {
            @include span-columns(4, 8);
        }
    }
    .publicity-us, .tour-press {
        @include at-breakpoint($medium) {
            @include span-columns(2.6, 8);
        }
    }
    .publicity-uk-eu {
        @include at-breakpoint($medium) {
            @include span-columns(2.6 omega, 8);
        }
    }
}


/* ========================================STATES */


/* ========================================THEMES */
.main-content h1 {
    text-transform: uppercase;
}

/* ====================ACTIVE MENUS */
.blog a.blog-nav, 
.tour a.tour-nav, 
.albums a.albums-nav, 
.media a.media-nav, 
.store a.store-nav, 
.contact a.contact-nav {
        color: $blue;
}

.active {
    border-bottom: 1px solid $orange;
}

/* ====================HOME PAGE */
.home {
    .logo-home {
        float:left;
        padding-top:10%;
    }
    .main-content {
        background: url("../img/home_art.png") no-repeat bottom right;
    }
}








