@import "_mixins.scss";
@import "susy";

@font-face {
    font-family: 'entypo';
    src:url('../fonts/entypo/entypo.eot');
    src:url('../fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
        url('../fonts/entypo/entypo.svg#entypo') format('svg'),
        url('../fonts/entypo/entypo.woff') format('woff'),
        url('../fonts/entypo/entypo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ========================================BASE */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block; }

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
    height:100%;
}

body {
    margin: 0;
    height:100%;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    background: url("../img/background.png");
    color:#e6e6e6;
}

a {
  text-decoration:none;
  color:#e6e6e6;
}

    a:focus {
        outline: thin dotted;
    }

    a:active,
    a:hover {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin:0;
}


b,
strong {
    font-weight: bold;
}

img {
    border: 0;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}


/* ========================================LAYOUT */
/* ====================NAV */
nav {
    outline:1px solid black;
    text-align:center;
    overflow:auto;
}

/* ====================CONTAINER */
.main-content {
    @include container;
    @include susy-grid-background;

    min-height:100%;
    position:relative;
    padding-bottom: 3em;

    h1 {
        text-align:center;
    }

    @include at-breakpoint($medium) {
        @include container;
    }

    @include at-breakpoint($large) {
        @include container;
    }
}

/* ====================FOOTER */
footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    background: #111;
}


/* ========================================MODULES */
/* ====================FONT ICON */
[data-icon]:before {
    font-family: 'entypo';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    @include at-breakpoint($medium) {
        content:"";
    }
}
/* ====================HEADER */
nav {
    text-transform: uppercase;
    background:#111;
    .logo-nav {
        float:left;
        font-size:3em;
        display:block;
        @include at-breakpoint($medium) {
            float:none;
            display:inline;
        }
    }
    .more-nav {
        @include at-breakpoint($medium) {
            display:none;
        }
    }
}

/* Hide irrelevant icons on small view */
.tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav {
    display:none;
    @include at-breakpoint($medium) {
        display:inline;
    }
}

// .inactive {
//     display:none;
//     @include at-breakpoint($medium) {
//         display:inline;
//     }
// }

.more-nav {
    float:right;
}


/* ====================PAGE NAV */
    .page-nav {
        text-align:center;
        padding:1em 0;
        a {

        }
    }

/* ====================BLOG */
.post-date {
    float:left;
}

.post-time {
    float:right;
}

.postText {
    clear:both;
    img {
        max-width:100%;
        height:auto;
    }
}


/* ====================TOUR PAGE */
.tour-date, .tour-city, .tour-venue {
    outline:1px solid black;
    h1 {
        display:none;
        @include at-breakpoint($medium) {
            display:block;
        }
    }
    @include at-breakpoint($medium) {
        @include span-columns(4,12);
    }
}

.tour-venue {
    @include at-breakpoint($medium) {
        @include span-columns(4 omega, 12);
    }
}

.tour-date li {
    &:before {
        content: "DATE";
    }
}

.tour-city li {
    &:before {
        content: "CITY";
    }
}

.tour-venue li {
    &:before {
        content: "VENUE";
    }
}

.tour-date li, .tour-city li, .tour-venue li {
    &:before {
        float:left;
        @include at-breakpoint($medium) {
            display:none;
        }
    }
    text-align:right;
    @include at-breakpoint($medium) {
        text-align:center;
    }
}

/* ====================ALBUMS PAGE */
.album-release {
    text-align:center;
}

.album-cover {
    img {
        max-width:100%;
        height:auto;
        @include at-breakpoint($medium) {
            max-width:50%;
            @include span-columns(4, 8);
        }
    }
}

.album-blurb {
    @include at-breakpoint($medium) {
        @include span-columns(4 omega, 8);
    }
    @include at-breakpoint($large) {
    }
}

.album-tracklist {
    .album-track {
        clear:both;
    }
    .album-track-name {
        float:left;
    }
    .album-track-duration {
        float:right;
    }
    @include at-breakpoint($medium) {
        clear:both;
        @include span-columns(4, 8);
    }
}

.album-purchase {
    a {
        outline:1px solid black;
        display:block;
        width:90%;
        margin:0 auto;
        clear:both;
    }
    @include at-breakpoint($medium) {
        @include span-columns(4 omega, 8);
        text-align:center;
    }
}


/* ====================CONTACT PAGE */
.contact-block {
    text-align:center;
    .booking-us-can {
        @include at-breakpoint($medium) {
            @include span-columns(4, 8);
        }
    }
    .publicity-us, .tour-press {
        @include at-breakpoint($medium) {
            @include span-columns(2.6, 8);
        }
    }
    .publicity-uk-eu {
        @include at-breakpoint($medium) {
            @include span-columns(2.6 omega, 8);
        }
    }
}


/* ========================================STATES */


/* ========================================THEMES */
.main-content h1 {
    text-transform: uppercase;
}


/* ====================HOME PAGE */
.home {
    .main-content {
        background: url("../img/home_art.png") no-repeat bottom right;
    }
}








