/*------------------------------------*\
    $BLOG STYLES
\*------------------------------------*/
.post {
    margin: $base-spacing-unit auto $base-spacing-unit*3;
    max-width: 700px;
    h1 {
        text-align: center;
    }
    p,
    blockquote {
        @extend .delta;
    }
    img {
        max-width: 100%;
    }
}

.post-title {
    float:right;
}

.post-content {
    margin: $padding auto;
    clear:both;
    img {
        max-width:100%;
    }
    p {
        @extend .gamma;
        text-align: left;
        padding: 5px;
        margin-bottom: 0;
    }
}


.audio-player {
    embed {
        border: 1px solid $darkgrey;
        width:100%;
        height:100px;
        @include at-breakpoint($medium) {
            width:75%;
        }
        @include at-breakpoint($medium) {
            width:50%;
        }
    }
}




/****
* Responsive Photoset
****/
.scarey-photoset {
    padding: 5px;
    img {
        vertical-align: bottom;
        //opacity: 0;
        background: url('../img/loader.gif') center center no-repeat;
        //background-size: cover;
    }
}


/****
* Photo set transition
****/
.photoset-transition {
    @include animation(slide-fade-from-bottom 200ms forwards);
    background: none;
}



/****
* Load More button
****/
.load-more {
    margin: $base-spacing-unit*2 auto;
    width: 100%;
    @include at-breakpoint($medium) {
        max-width: 700px;
    }
}


