/*------------------------------------*\
    $CONTACT STYLES
\*------------------------------------*/
.contact-block {
    @extend %sass-margin-bottom;
    text-align:center;
    word-wrap: break-word;
    clear:both;
    div {
        //margin-bottom:$base-spacing-unit;
    }
    h1 {
        text-transform: uppercase;
    }
}