/*------------------------------------*\
    $CONTACT STYLES
\*------------------------------------*/
.contact-block {
    text-align:center;
    margin-bottom:$base-spacing-unit;
    word-wrap: break-word;
    clear:both;
    div {
        margin-bottom:$base-spacing-unit;
    }
    h1 {
        text-transform: uppercase;
    }
}