/*------------------------------------*\
    $HOME
\*------------------------------------*/

.home {
    .logo-nav {
        visibility: hidden;
    }
    .headline-container {
        margin: $base-spacing-unit*3 auto 0;
        text-align: center;
    }
    .headline {
        text-transform: uppercase;
        text-align: center;
    }
    .headline--left,
    .headline--right {
        position: relative;
        opacity: 0;
        @include at-breakpoint($medium) {
            display: inline-block;
            vertical-align: middle;
            width: 50%;
        }
    }
    .headline--left {
        @include animation(slide-fade-from-left 1s 0.5s forwards);
        @include at-breakpoint($medium) {
            padding-right: $base-spacing-unit/2;
            text-align: right;
        }
    }
    .headline--right {
        @include animation(slide-fade-from-right 1s 1s forwards);
        color: $brand-main;
        @include at-breakpoint($medium) {
            text-align: left;
        }
    }
    .tagline {
        @include animation(slide-fade-from-bottom 1s 1.5s forwards);
        clear: both;
        text-align: center;
        position: relative;
        opacity: 0;
    }
}