/*------------------------------------*\
    $HOME
\*------------------------------------*/

.home {
    // Hiding for animation
    #slide-from-left-1,
    #slide-from-left-2,
    #slide-from-right,
    #slide-from-bottom,
    #slide-from-bottom-2 {
        @include transition(opacity 100ms);
        opacity: 0;
    }
    .headline-container {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        @include at-breakpoint($medium) {
            margin: $base-spacing-unit*3 auto 0;
        }
    }
    .headline--left,
    .headline--right {
        @include at-breakpoint($medium) {
            @extend .header-font;
            display: inline-block;
            vertical-align: top;
            width: 50%;
        }
    }
    .headline--left {
        @include at-breakpoint($medium) {
            text-align: right;
            padding-right: $base-spacing-unit/2;
        }
    }
    .headline--right {
        color: $brand-main;
        @include at-breakpoint($medium) {
            text-align: left;
        }
    }
    .tagline {
        //@extend .delta;
        //@extend .italic;
        clear: both;
        position: relative;
        color: $lightblack;
        &.tagline--desk {
            display: none;
            a {
                display: block;
                text-transform: none;
            }
            @include at-breakpoint($medium) {
                display: block;
            }
        }
        &.tagline--mobile {
            display: block;
            margin-bottom: $base-spacing-unit;
            a {
                display: inline-block;
                padding: $base-spacing-unit/2;
                width: 48%;
            }
            &:after {
                content: "";
                display: block;
                width: 100px;
                height: 1px;
                background: $darkgrey;
                margin: $base-spacing-unit auto;
            }
            @include at-breakpoint($medium) {
                display: none;
            }
        }
    }
}


.home .main-content {
    max-width: 65em;
}



/****
* Preorder links
****/
.preorder {
    @extend .epsilon;
    margin-bottom: $base-spacing-unit;
    //@extend .bold;
    p {
        @extend .bold;
        margin-bottom: 10px;
    }
    text-align: center;
    a {
        display: block;
        margin-bottom: $base-spacing-unit;
    }
    @include at-breakpoint($medium) {
        margin-bottom: $base-spacing-unit*2;
        a {
            display: inline-block;
            &:after {
                content: "/";
                margin: 0 $base-spacing-unit/2;
            }
            &:last-child:after {
                display: none;
            }
        }
    }
}

/****
* Nav
****/
.home-nav {
    @extend .header-font;
    @extend .delta;
    a {
        display: block;
        width: 100%;
        padding: $base-spacing-unit 0;
        @include at-breakpoint($medium) {
            padding: 0;
        }
    }
}

.no-js .headline {
    opacity: 1;
}