/*------------------------------------*\
    $HOME
\*------------------------------------*/
.home {
    background:
        url("../img/home_art.png") no-repeat right bottom,
        //url("../img/background_light.png") repeat;
        #f7f7f7 url("../img/bg_gradient.png") repeat-x;
    .main-content {
        width:100%;
        padding-bottom:0;
        left:0;
        opacity:1;
    }

    /* ==========NAV*/

    .main-nav, .social-home {
        width:100%;
        overflow:visible;
        background:none;
        padding: 0;
        a {
            display:block;
            font-weight: 100;
            padding:1em 0;
            text-align:center;
            color: $offblack;
            font-size:$h1-size;
            border-bottom: 1px solid $darkgrey;
            &:hover {
                color:$orange;
            }
            &:first-child {
                border-top: 1px solid $grey;
                @include at-breakpoint($medium) {
                    border-top: none;
                }
            }
            &:last-child {
                border-bottom: none;
            }
            @include at-breakpoint($medium) {
                background:none;
                display:inline-block;
                width:auto;
                border:none;
                float:none;
                padding:0 1em;
            }
        }
        &:after {
            content:"";
            display:table;
            clear:both;
        }
        .logo-nav, .more-nav {display:none;}

    }

    .logo-home {
        font-size: $kilo-size;
        font-weight: 100;
        @include at-breakpoint($medium) {
            font-size:$giga-size;
        }
        @include at-breakpoint($large) {
            font-size:$giga-size*3;
        }
    }

    .social-home {
        text-align:center;
        a {
            color:$lightblack;
            &:hover {
                color:$orange;
            }
            @include at-breakpoint($medium) {
                padding:0 $padding;
                &:first-child {
                    padding-left:0;
                }
            }
        }
         [data-icon]:before {
            font-size:$kilo-size;
         }
         @include at-breakpoint($medium) {
            width: 92%;
            margin: $padding*4 auto 0;
         }
    }
}