/*------------------------------------*\
    $TOUR STYLES
\*------------------------------------*/


/****
* Tour
****/
.tour-block {
    max-width: 65em;
    margin: 0 auto $base-spacing-unit;
    clear: both;
    text-align: center;
    line-height: 1.3;
}

.tour-event {
    display: inline-block;
    width: 100%;
    //font-size: $milli-size;
    //margin: $base-spacing-unit/2 0;
    padding: $base-spacing-unit;
    @include at-breakpoint($medium) {
        width: 25%;
        margin-right: -$base-font-size/3; // Fighting space between inline block elements
    }
    p:first-child {
        @extend .bold;
    }
    ul {
        margin: 0;
    }
}

.tour-support {
    @extend .italic;
    margin: 0 0 $base-spacing-unit/2 0;
    font-size: $milli-size;
}