---
import NavLink from "./NavLink.astro";
---

<header class="text-gray-100">
  <nav
    class="container mx-auto flex flex-wrap items-center justify-between px-4"
  >
    <a
      href="/"
      class="from-secondary-50 to-secondary-500 font-brand hover:text-primary-700 block w-full bg-gradient-to-r bg-clip-text py-3 text-center text-4xl font-light tracking-wide uppercase italic transition-colors hover:text-transparent md:w-auto md:py-6 md:text-left"
    >
      S. Carey
    </a>

    <ul
      class="flex w-full justify-center space-x-6 rounded-full bg-black/40 px-6 text-xs tracking-widest uppercase md:w-auto md:justify-start flex-wrap"
    >
      <li>
        <NavLink href="/discography/">Discography</NavLink>
      </li>
      <li>
        <NavLink href="/production/">Production</NavLink>
      </li>
      <li>
        <NavLink href="/shows/">Shows</NavLink>
      </li>
      <li>
        <NavLink href="https://merch.ambientinks.com/collections/scarey" blank
          >Store</NavLink
        >
      </li>
      <li>
        <NavLink href="/contact/">Contact</NavLink>
      </li>
    </ul>
  </nav>
</header>
