/*------------------------------------*\
    $ALBUMS STYLING
\*------------------------------------*/
.album-block {
    clear:both;
    h1 {
        clear:both;
    }
    margin: $base-spacing-unit*4 auto;
    &:first-child {
        margin-top:0;
    }
    @include at-breakpoint($medium) {
        &:after {
            content: url('../img/scarey_line_spacer_smaller.png');
            display:table;
            margin: 0 auto;
            clear:both;
        }
    }
}

.album-release, .album-cover {
    text-align: center;
}
.album-release {
    margin-bottom:$base-spacing-unit;
}

.album-cover {
    img {
        margin-bottom:$base-spacing-unit*2;
        max-width:100%;
        height:auto;
        @include at-breakpoint($medium) {
        }
        @include at-breakpoint($large) {
            margin-bottom:$base-spacing-unit*2;
            max-width:50%;
            @include span-columns(4, 8);
        }
    }
}

.album-blurb {
    padding-bottom:$base-spacing-unit*2;
     p {
        @extend .delta;
        text-align: justify;
        margin-bottom:$base-spacing-unit;
    }
    @include at-breakpoint($large) {
        @include span-columns(4 omega, 8);
    }
}

.album-tracklist h2, .album-purchase h2 {
    border-bottom:1px solid darken($darkgrey, 25%);
    border-radius:3px 3px 0 0;
    margin-bottom:$base-spacing-unit/2;
    text-align:left;
}


.album-tracklist {
    padding-bottom:$base-spacing-unit*2;
    .album-track {
        clear:both;
        overflow:auto;
        margin:$base-spacing-unit/2 0;
        //font-size:$regularfont;
    }
    .album-track-name {
        float:left;
    }
    .album-track-duration {
        float:right;
    }
    @include at-breakpoint($medium) {
        margin-bottom: $padding*2;
    }
    @include at-breakpoint($large) {
        clear:both;
        @include span-columns(4, 8);
    }
}

.album-purchase {
    a {
        display:block;
        width:100%;
        clear:both;
        margin:$base-spacing-unit 0;
        &:first-of-type {
            margin-top: 0;
        }
        @include at-breakpoint($medium) {
            //margin:$base-spacing-unit*2 auto;
        }
    }
    @include at-breakpoint($large) {
        @include span-columns(4 omega, 8);
        text-align:center;
    }
}


/*------------------------------------*\
    $ALBUM FILTER
\*------------------------------------*/
.no-js .album-filter {
    display:none; //no js?  no filter :(
}



/****
* General Filter styles
****/
.filter {
    text-align: center;
    position: relative;
    li {
        float: left;
        padding: $base-spacing-unit/2 0;
        position: relative;
        width: 100%;
        @include at-breakpoint($medium) {
            float: left;
            padding: $base-spacing-unit;
            width: 300px;
        }
    }
    li span {
        display: block;
    }
}



/****
* FIlter slider
****/
.filter__slider {
    background: $grey;
    overflow: hidden;
    position: absolute;
    width: 100%;
    max-height: 0;
    z-index: 2;
    @include transition(max-height 300ms);
    @include at-breakpoint($medium) {
        margin: 0 auto;
        position: relative;
        //width: 600px;
    }
}


.filter__slider-wrap {
    overflow: hidden;
    position: relative;
    width: auto;
    @include at-breakpoint($medium) {
        @include transform(translateX(0));
        @include transition(all 500ms ease-in-out);
        //width: 3000px;
    }
}



/****
* FIlter controls
****/
.filter__toggle {
    background: $grey;
    cursor: pointer;
    display: block;
    //float: left;
    padding: $base-spacing-unit/2 0;
    margin-top: -$base-spacing-unit;
    &:before {
        font-size: $h1-size;
    }
    @include transition(background 300ms);
    @include at-breakpoint($medium) {
        background: none;
    }
}

.filter__close {
    position: absolute;
    top: -$base-spacing-unit/2;
    right: $base-spacing-unit/2;
    font-size: $kilo-size;
    opacity: 0;
    padding-right: $base-spacing-unit/2;
    @include transition(opacity 300ms);
}

.filter__controls {
    display: none;
    @include at-breakpoint($medium) {
        display: block;
        font-size: $mega-size;
        height: 100%;
        top: 0;
        width: 100%;
        .prev, .next {
            cursor: pointer;
            height: 100%;
            padding: $mega-size $base-spacing-unit/4 0;
            position: absolute;
            top: 0;
            @include transition(background 200ms);
            &:hover {
                @include at-breakpoint($large) {
                    background: rgba($lightblack, 0.8);
                }
            }
        }
        .prev {
            left: 0
        }
        .next {
            right: 0;
        }
    }
}



/****
* Slider position
****/
.position {
    clear: both;
    padding-bottom: $base-spacing-unit/2;
    text-align: center;
    a {
        background: $lightblack;
        border-radius: 15px;
        display:inline-block;
        height: 15px;
        margin: 0 $base-spacing-unit/4;
        width: 15px;
    }
    .on {
        background: $orange;
    }
    @include at-breakpoint($medium) {
        //display: none;
    }
}


/****
* Filter active state
****/
.showing {
    .filter__toggle {
        background: $darkgrey;
        @include at-breakpoint($medium) {
            background: none;
        }
    }
    .filter__slider {
        border-bottom: 1px solid $darkgrey;
        border-top: 1px solid $darkgrey;
        max-height: 500px;
    }
    .filter__close {
        opacity: 1;
    }
}


//Fix anchor links jumping too far, want to keep album title in view on the page
@include at-breakpoint($large) {
    .album-block:not(:first-child):before {
        content:"";
        display:block;
        margin-top:-150px;
        height:150px;
        visibility: hidden;
    }
}
