/*------------------------------------*\
    $ALBUM BLOCK
    * For marking up an album entry
    * Markup:
    <section class="album-block">
        <h1>Album Title</h1>
        <h2 class="album-release">Album Release</h2>

        <div class="album-cover flipper-wrap one-half">
            <div class="flipper">
                <img class="front" src="{{ album.cover-front }}" alt="{{ album.title }} cover" width="1425" height="1425">
                <img class="back" src="{{ album.cover-back }}" alt="{{ album.title }} back cover">
            </div>
            <span class="flip-icon" data-icon="">Click to rotate</span>
        </div>

        <div class="album-blurb one-half">
            <p>{{ album.blurb }}</p>
        </div>

        <div class="album-tracklist one-half">
        <h2 class="bordered-header">Tracklist:</h2>
        {% for track in album.tracks %}
        <div class="album-track">
            <span class="album-track-name">{{ forloop.index }}.  {{ track.title }}</span>
            <span class="album-track-duration">{{ track.duration }}</span>
        </div>
        {% endfor %}
        </div>

        <div class="album-purchase one-half">
            <h2 class="bordered-header">Links:</h2>
            {% for link in album.links %}
            <a class="button" href="{{ link.href }}">{{ link.text }}</a>
            {% endfor %}
        </div>

    </section>

\*------------------------------------*/

.album-block {
    @include clearfix;
    clear: both;
    h1,
    .album-release {
        @extend .center;
    }
    h1 {
        @extend .no-margin-bottom;
    }
    .album-release {
        @extend .epsilon;
    }
}

.album-cover,
.album-blurb,
.album-tracklist,
.album-links {
    @extend %sass-margin-bottom;
}


.album-blurb {
     p {
        @extend .delta;
        text-align: justify;
    }
}


/****
* Album Tracklist
****/
.album-track {
    clear:both;
    overflow:auto;
    position: relative;
}


/****
* Album Links
****/
.album-links {
    font-size: 0;
    a {
        font-size: $base-font-size;
        margin-bottom: $base-spacing-unit/2;
        width:100%;
        @include at-breakpoint($medium) {
            display: inline-block;
            &.album-links--4 {
                width: 49%;
                margin-right: 1%;
                &:nth-child(even) {
                    margin-right: 0;
                }
            }
            &.album-links--3 {
                width: 32%;
                margin-right: 2%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}