$color: rgba(0, 0, 0, 0.8);

.dropdown {
    position: relative;
    ul {
        &:before {
            content: "";
            border-left: 10px solid transparent;
            border-top: 10px solid transparent;
            border-bottom: 10px solid $color;
            border-right: 10px solid transparent;
            position: absolute;
            left: 5px;
            top: -20px;
        }
        margin-top: 8px;
        position: absolute;
        display: none;
        left: 0;
        list-style: none;
        text-align: left;
        background: rgba(0, 0, 0, 0.8);
        padding: 5px;
        border-radius: 3px;

        li {
            padding: 5px;
        }
    }
    &:hover {
        ul {
            display: block;
        }
    }
}
