{% include head.html %}

<body class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    <div class="page-nav">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if page.filter %}
                    {% include filter.html %}
                {% endif %}

        </header>

        <div id="main-content" class="main-content">

                    {% for album in page.albums %}
                    <div class="album-block" id="{{ album.hash }}">

                        <h1 class="center">{{ album.title }}</h1>
                        <div class="album-release">{{ album.release }}</div>

                        <div class="album-cover">
                            <img src="{{ album.cover-front }}" alt="{{ album.title }} cover" width="1425" height="1425">
                        </div>

                        <div class="album-blurb">
                            <p>{{ album.blurb }}</p>
                        </div>

                        <div class="album-tracklist">
                        <h2>Tracklist:</h2>
                        {% for track in album.tracks %}
                        <div class="album-track">
                            <span class="album-track-name">{{ forloop.index }}.  {{ track.title }}</span>
                            <span class="album-track-duration">{{ track.duration }}</span>
                        </div>
                        {% endfor %}
                        </div>

                        <div class="album-purchase">
                            <h2>Links:</h2>
                            {% for link in album.links %}
                            <a class="button" href="{{ link.href }}">{{ link.text }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}

                    {{ content }}

        </div><!-- End main content -->

    </div>

    {% include footer.html %}

{% include foot.html %}