{% include head.html %}

<body class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    {% for items in page.nav %}
                        {% capture itemlength %}{{ forloop.length }}{% endcapture %}
                    {% endfor %}
                    <div class="page-nav page-nav--{{ itemlength }}">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if page.filter %}
                    {% include filter.html %}
                {% endif %}

        </header>

        <div id="main-content" class="main-content">

                {% for album in page.albums %}
                <section class="album-block" id="{{ album.hash }}">

                    <h1>{{ album.title }}</h1>
                    <h2 class="album-release">{{ album.release }}</h2>

                    <div class="one-third">
                        <div class="flipper-wrap album-cover">
                            {% if album.cover-back %}
                            <div class="flipper">
                                <img class="front" src="{{ album.cover-front }}" alt="{{ album.title }} cover" width="1425" height="1425">
                                <img class="back" src="{{ album.cover-back }}" alt="{{ album.title }} back cover">
                            </div>
                            <span class="flip-icon" data-icon="">Click to rotate</span>
                            {% else %}
                            <img src="{{ album.cover-front }}" alt="{{ album.title }} cover" width="1425" height="1425">
                            {% endif %}
                        </div>

                        <div id="buy" class="album-links">
                            <!-- <h3 class="small-header">Buy</h3> -->
                            {% for link in album.links %}
                            {% if link.href %}<a class="button" href="{{ link.href }}" target="_blank">{{ link.text }}</a>{% endif %}
                            {% endfor %}
                        </div>

                    </div>

                    <div class="two-thirds">
                        <h3 class="small-header delta">Description</h3>
                        <p class="text-block">{{ album.blurb }}</p>
                        <div id="tracks" class="album-tracklist">
                            <h3 class="small-header delta">Tracks</h3>
                            {% for track in album.tracks %}
                            <div class="album-track {% if track.lyrics %}collapse{% endif %}">
                                <span class="collapse__trigger">{{ track.title }}</span>
                                <span class="collapse__content italic no-margin-bottom">
                                    {% for lyric in track.lyrics %}
                                    <p>{{ lyric }}</p>
                                    {% endfor %}
                                </span>
                            </div>
                            {% endfor %}
                        </div>


                    </div>



                </section>

                <hr class="rule rule--margin">
                {% endfor %}

                {{ content }}

        </div><!-- End main content -->

    </div>

    {% include footer.html %}

{% include foot.html %}