{% include head.html %}

<body class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    <div class="page-nav">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

        </header>

        <div id="main-content" class="main-content">

            {% if site.shows %}

                {% if page.range == "current" %}
                    {% for show in site.shows %}
                        {% if show.range > site.time %}
                            <div class="tour-block">
                                <h1 class="center">{{ show.section }} {{ showrange }}</h1>
                                {% for show in show.dates %}
                                    <div class="tour-event">
                                        <p>{{ show.date }}
                                        <p>{{ show.city }}
                                        <p>{{ show.venue }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}

                {% else if page.range == "past" %}
                    {% for show in site.shows %}
                        {% if show.range < site.time %}
                        <div class="tour-block">
                            <h1 class="center">{{ show.section }} {{ showrange }}</h1>
                            {% for show in show.dates %}
                                <div class="tour-event">
                                    <p>{{ show.date }}
                                    <p>{{ show.city }}
                                    <p>{{ show.venue }}
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
            {% else %}
            <p class="italic center">No shows currently scheduled.</p>
            {% endif %}

                {{ content }}

        </div><!-- End main content -->

    </div>

    {% include footer.html %}

{% include foot.html %}