{% include head.html %}

<body id="tour" class="{{ page.body_class }}">

    <div class="wrap">

        <header>
                {% include nav.html %}

                {% if page.nav %}
                    {% for items in page.nav %}
                        {% capture itemlength %}{{ forloop.length }}{% endcapture %}
                    {% endfor %}
                    <div class="page-nav page-nav--{{ itemlength }}">
                        {% for nav in page.nav %}
                        <a class="{% if nav.active %}page-active{% endif %}" href="{{ nav.href }}">{{ nav.title }}</a>
                        {% endfor %}
                    </div>
                {% endif %}

        </header>

        <div id="main-content" class="main-content">



                    {% if page.range == "past" %}
                        {% for tour in site.shows %}
                            <div class="tour-block">
                                <div class="tour-block__header">
                                    <p class="beta no-margin-bottom">Date</p><!--
                                    --><p class="beta no-margin-bottom">City</p><!--
                                    --><p class="beta no-margin-bottom">Venue</p>
                                </div>
                                {% for show in tour.dates %}
                                <div {% if show.href %}href="{{ show.href }}"{% endif %} class="tour-event" target="_blank">
                                    <p class="tour-date">{{ show.date | date: '%B %-d, %Y' }}{% if tour.support %}*{% endif %}</p>
                                    <p class="tour-city">{{ show.city }}</p>
                                    <p class="tour-venue">{{ show.venue }}{% if show.support %}*{%endif %}</p>
                                    {% if show.support %}<p class="tour-support">* w/ {{ show.support }}</p>{% endif %}
                                    {% if tour.support %}<p class="tour-support tour-support--mobile">* w/ {{ tour.support }}</p>{% endif %}
                                </div>
                                {% endfor %}
                                {% if tour.support %}<p class="tour-support tour-support--desk">* w/ {{ tour.support }}</p>{% endif %}
                            </div>
                        {% endfor %}

                        {% else %}
                        <div class="tour-block tour--upcoming">
                            <div class="tour-block__header">
                                <p class="beta no-margin-bottom">Date</p><!--
                                --><p class="beta no-margin-bottom">City</p><!--
                                --><p class="beta no-margin-bottom">Venue</p>
                            </div>
                        </div>
                    {% endif %}



            {{ content }}

        </div><!-- End main content -->

    </div>

    {% include footer.html %}

{% include foot.html %}