/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

html,
body {
  height: 100%;
}

body {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  font-family: avenir next, avenir, sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased !important;
  @apply text-gray-100;
}

.bg {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg img {
  @apply object-cover;
  width: 100%;
  height: 100%;
}

/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@responsive {
  .breakout {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
  }
  .breakout-none {
    margin-left: unset;
    margin-right: unset;
    width: auto;
  }
}

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.video-embed > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.readable {
  background: rgba(26, 32, 44, 0.7);
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.not-visuallyhidden {
  clip: none;
  height: unset;
  margin: unset;
  overflow: visible;
  position: unset;
  width: unset;
}

.table tr,
.table td {
  display: block;
}

.table thead {
  @apply visuallyhidden;
}

.table td {
  @apply flex;
}

.table td:before {
  content: attr(data-label);
  @apply mr-4 flex-1;
}

.table {
  table-layout: fixed;
  width: 100%;
}

@screen md {
  .table tr {
    display: table-row;
  }

  .table td {
    display: table-cell;
  }
  .table td:before {
    display: none;
  }
  .table thead {
    @apply .not-visuallyhidden;
  }
}

.table thead {
  @apply text-2xl text-left;
}

.table th {
  @apply font-normal;
  @apply py-2 px-4 readable text-gray-400;
}

.table td {
  @apply py-3 px-4 readable;
}

.table tbody {
  @apply text-sm tracking-wide font-medium;
}

.table tbody tr:nth-child(even) {
  @apply .readable;
}

.table a {
  @apply underline transition-colors transition duration-100;
  text-underline-position: under;
}

.table a:hover {
  @apply text-orange-400;
}

.album-description p {
  @apply mb-4;
}

.credit > figcaption {
  @apply transition duration-150 transition-opacity;
  opacity: 0;
}

.credit:focus-within,
.credit--focused > figcaption,
.credit:focus > figcaption,
.credit:hover > figcaption {
  opacity: 0.8;
}

/**
 * Bio
 */
body.bio {
  background-image: none;
  @apply bg-gray-800;
  @apply text-orange-100;
}

.bio p {
  @apply mb-6 font-medium;
}

.bio b {
  @apply font-semibold;
}

/**
 * Discography
 */
.expander button {
  display: flex;
  @apply font-semibold text-gray-300 items-center;
}

.expander button svg {
  height: 0.8em;
  @apply fill-current ml-1;
}
.expander [aria-expanded="true"] .vert {
  display: none;
}
.expander [aria-expanded] rect {
  fill: currentColor;
}

.expander .content {
  @apply my-4 pl-4 italic text-sm;
}
