/* ========================================BREAKPOINTS */
@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.svg#entypo") format("svg"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ========================================BASE */
/* line 16, ../scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 18, ../scss/style.scss */
* {
  box-sizing: border-box; }

/* line 22, ../scss/style.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

/* line 29, ../scss/style.scss */
body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: url("../img/background.png");
  color: #e6e6e6; }

/* line 39, ../scss/style.scss */
a {
  text-decoration: none;
  color: #e6e6e6; }

/* line 44, ../scss/style.scss */
a:focus {
  outline: thin dotted; }

/* line 49, ../scss/style.scss */
a:active,
a:hover {
  outline: 0; }

/* line 53, ../scss/style.scss */
h1 {
  font-size: 2em;
  margin: 0; }

/* line 58, ../scss/style.scss */
h2 {
  margin: 0; }

/* line 62, ../scss/style.scss */
p {
  margin: 0; }

/* line 68, ../scss/style.scss */
b,
strong {
  font-weight: bold; }

/* line 72, ../scss/style.scss */
img {
  border: 0; }

/* line 76, ../scss/style.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ========================================LAYOUT */
/* ====================NAV */
/* line 85, ../scss/style.scss */
nav {
  outline: 1px solid black;
  text-align: center;
  overflow: auto; }

/* ====================CONTAINER */
/* line 92, ../scss/style.scss */
.main-content {
  *zoom: 1;
  max-width: 29em;
  _width: 29em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(22.22222%, rgba(100, 100, 225, 0.25)), color-stop(22.22222%, rgba(0, 0, 0, 0)), color-stop(25.92593%, rgba(0, 0, 0, 0)), color-stop(25.92593%, rgba(100, 100, 225, 0.25)), color-stop(48.14815%, rgba(100, 100, 225, 0.25)), color-stop(48.14815%, rgba(0, 0, 0, 0)), color-stop(51.85185%, rgba(0, 0, 0, 0)), color-stop(51.85185%, rgba(100, 100, 225, 0.25)), color-stop(74.07407%, rgba(100, 100, 225, 0.25)), color-stop(74.07407%, rgba(0, 0, 0, 0)), color-stop(77.77778%, rgba(0, 0, 0, 0)), color-stop(77.77778%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, rgba(100, 100, 225, 0.25) 51.85185%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, rgba(100, 100, 225, 0.25) 77.77778%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, rgba(100, 100, 225, 0.25) 51.85185%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, rgba(100, 100, 225, 0.25) 77.77778%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, rgba(100, 100, 225, 0.25) 51.85185%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, rgba(100, 100, 225, 0.25) 77.77778%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 22.22222%, rgba(0, 0, 0, 0) 22.22222%, rgba(0, 0, 0, 0) 25.92593%, rgba(100, 100, 225, 0.25) 25.92593%, rgba(100, 100, 225, 0.25) 48.14815%, rgba(0, 0, 0, 0) 48.14815%, rgba(0, 0, 0, 0) 51.85185%, rgba(100, 100, 225, 0.25) 51.85185%, rgba(100, 100, 225, 0.25) 74.07407%, rgba(0, 0, 0, 0) 74.07407%, rgba(0, 0, 0, 0) 77.77778%, rgba(100, 100, 225, 0.25) 77.77778%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  min-height: 100%;
  position: relative;
  padding-bottom: 3em; }
  /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .main-content:after {
    content: "";
    display: table;
    clear: both; }
  /* line 100, ../scss/style.scss */
  .main-content h1 {
    text-align: center; }
  @media (min-width: 30em) {
    /* line 92, ../scss/style.scss */
    .main-content {
      max-width: 57em;
      padding-left: 1em;
      padding-right: 1em;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .main-content:after {
        content: "";
        display: table;
        clear: both; } }
  @media (min-width: 50em) {
    /* line 92, ../scss/style.scss */
    .main-content {
      max-width: 85em;
      padding-left: 1em;
      padding-right: 1em;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .main-content:after {
        content: "";
        display: table;
        clear: both; } }

/* ====================FOOTER */
/* line 114, ../scss/style.scss */
footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background: #111; }

/* ========================================MODULES */
/* ====================FONT ICON */
/* line 126, ../scss/style.scss */
[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 30em) {
    /* line 126, ../scss/style.scss */
    [data-icon]:before {
      content: ""; } }

/* ====================HEADER */
/* line 138, ../scss/style.scss */
nav {
  text-transform: uppercase;
  background: #111; }
  /* line 141, ../scss/style.scss */
  nav .logo-nav {
    float: left;
    font-size: 3em;
    display: block; }
    @media (min-width: 30em) {
      /* line 141, ../scss/style.scss */
      nav .logo-nav {
        float: none;
        display: inline; } }
  @media (min-width: 30em) {
    /* line 150, ../scss/style.scss */
    nav .more-nav {
      display: none; } }

/* Hide irrelevant icons on small view */
/* line 158, ../scss/style.scss */
.tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav {
  display: none; }
  @media (min-width: 30em) {
    /* line 158, ../scss/style.scss */
    .tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav {
      display: inline; } }

/* line 172, ../scss/style.scss */
.more-nav {
  float: right; }

/* ====================PAGE NAV */
/* line 178, ../scss/style.scss */
.page-nav {
  text-align: center;
  padding: 1em 0; }

/* ====================BLOG */
/* line 187, ../scss/style.scss */
.post-date {
  float: left; }

/* line 191, ../scss/style.scss */
.post-time {
  float: right; }

/* line 195, ../scss/style.scss */
.postText {
  clear: both; }
  /* line 197, ../scss/style.scss */
  .postText img {
    max-width: 100%;
    height: auto; }

/* ====================TOUR PAGE */
/* line 205, ../scss/style.scss */
.tour-date, .tour-city, .tour-venue {
  outline: 1px solid black; }
  /* line 207, ../scss/style.scss */
  .tour-date h1, .tour-city h1, .tour-venue h1 {
    display: none; }
    @media (min-width: 30em) {
      /* line 207, ../scss/style.scss */
      .tour-date h1, .tour-city h1, .tour-venue h1 {
        display: block; } }
  @media (min-width: 30em) {
    /* line 205, ../scss/style.scss */
    .tour-date, .tour-city, .tour-venue {
      width: 32.53012%;
      float: left;
      margin-right: 1.20482%; } }

@media (min-width: 30em) {
  /* line 218, ../scss/style.scss */
  .tour-venue {
    width: 32.53012%;
    float: right;
    margin-right: 0; } }

/* line 225, ../scss/style.scss */
.tour-date li:before {
  content: "DATE"; }

/* line 231, ../scss/style.scss */
.tour-city li:before {
  content: "CITY"; }

/* line 237, ../scss/style.scss */
.tour-venue li:before {
  content: "VENUE"; }

/* line 242, ../scss/style.scss */
.tour-date li, .tour-city li, .tour-venue li {
  text-align: right; }
  /* line 243, ../scss/style.scss */
  .tour-date li:before, .tour-city li:before, .tour-venue li:before {
    float: left; }
    @media (min-width: 30em) {
      /* line 243, ../scss/style.scss */
      .tour-date li:before, .tour-city li:before, .tour-venue li:before {
        display: none; } }
  @media (min-width: 30em) {
    /* line 242, ../scss/style.scss */
    .tour-date li, .tour-city li, .tour-venue li {
      text-align: center; } }

/* ====================ALBUMS PAGE */
/* line 256, ../scss/style.scss */
.album-release {
  text-align: center; }

/* line 261, ../scss/style.scss */
.album-cover img {
  max-width: 100%;
  height: auto; }
  @media (min-width: 30em) {
    /* line 261, ../scss/style.scss */
    .album-cover img {
      max-width: 50%;
      width: 49.09091%;
      float: left;
      margin-right: 1.81818%; } }

@media (min-width: 30em) {
  /* line 271, ../scss/style.scss */
  .album-blurb {
    width: 49.09091%;
    float: right;
    margin-right: 0; } }

/* line 280, ../scss/style.scss */
.album-tracklist .album-track {
  clear: both; }
/* line 283, ../scss/style.scss */
.album-tracklist .album-track-name {
  float: left; }
/* line 286, ../scss/style.scss */
.album-tracklist .album-track-duration {
  float: right; }
@media (min-width: 30em) {
  /* line 279, ../scss/style.scss */
  .album-tracklist {
    clear: both;
    width: 49.09091%;
    float: left;
    margin-right: 1.81818%; } }

/* line 296, ../scss/style.scss */
.album-purchase a {
  outline: 1px solid black;
  display: block;
  width: 90%;
  margin: 0 auto;
  clear: both; }
@media (min-width: 30em) {
  /* line 295, ../scss/style.scss */
  .album-purchase {
    width: 49.09091%;
    float: right;
    margin-right: 0;
    text-align: center; } }

/* ====================CONTACT PAGE */
/* line 311, ../scss/style.scss */
.contact-block {
  text-align: center; }
  @media (min-width: 30em) {
    /* line 313, ../scss/style.scss */
    .contact-block .booking-us-can {
      width: 49.09091%;
      float: left;
      margin-right: 1.81818%; } }
  @media (min-width: 30em) {
    /* line 318, ../scss/style.scss */
    .contact-block .publicity-us, .contact-block .tour-press {
      width: 32%;
      float: left;
      margin-right: 1.81818%; } }
  @media (min-width: 30em) {
    /* line 323, ../scss/style.scss */
    .contact-block .publicity-uk-eu {
      width: 32%;
      float: right;
      margin-right: 0; } }

/* ========================================STATES */
/* ========================================THEMES */
/* line 335, ../scss/style.scss */
.main-content h1 {
  text-transform: uppercase; }

/* ====================HOME PAGE */
/* line 342, ../scss/style.scss */
.home .main-content {
  background: url("../img/home_art.png") no-repeat bottom right; }
