/* ========================================BREAKPOINTS */
/* ========================================PADDINGS */
/* ========================================MIXINS */
@font-face {
  font-family: 'entypo';
  src: url("../fonts/entypo/entypo.eot");
  src: url("../fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("../fonts/entypo/entypo.svg#entypo") format("svg"), url("../fonts/entypo/entypo.woff") format("woff"), url("../fonts/entypo/entypo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* ========================================BASE */
/* line 17, ../scss/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/* line 19, ../scss/style.scss */
* {
  box-sizing: border-box; }

/* line 23, ../scss/style.scss */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  height: 100%; }

/* line 29, ../scss/style.scss */
body {
  margin: 0;
  height: 100%;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 2em;
  font-weight: 100;
  background: url("../img/background.png");
  color: #cdcdcd; }

/* line 40, ../scss/style.scss */
a {
  text-decoration: none;
  color: #e6e6e6; }

/* line 45, ../scss/style.scss */
a:focus {
  outline: thin dotted; }

/* line 50, ../scss/style.scss */
a:active,
a:hover {
  outline: 0; }

/* line 54, ../scss/style.scss */
h1 {
  font-weight: 300;
  margin: 0;
  padding: 0; }

/* line 60, ../scss/style.scss */
h2 {
  font-weight: 300;
  margin: 0; }

/* line 65, ../scss/style.scss */
p {
  margin: 0; }

/* line 71, ../scss/style.scss */
b,
strong {
  font-weight: bold; }

/* line 75, ../scss/style.scss */
img {
  border: 0; }

/* line 79, ../scss/style.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/* ========================================LAYOUT */
/* ====================CONTAINER */
/* line 89, ../scss/style.scss */
.main-content {
  *zoom: 1;
  max-width: 84em;
  _width: 84em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 6em;
  clear: both; }
  /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .main-content:after {
    content: "";
    display: table;
    clear: both; }
  /* line 97, ../scss/style.scss */
  .main-content h1 {
    text-align: center; }
  /* line 100, ../scss/style.scss */
  .main-content p {
    line-height: 1.5em;
    text-indent: 1.5em; }
  @media (min-width: 40em) {
    /* line 89, ../scss/style.scss */
    .main-content {
      max-width: 84em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .main-content:after {
        content: "";
        display: table;
        clear: both; } }
  @media (min-width: 80em) {
    /* line 89, ../scss/style.scss */
    .main-content {
      max-width: 84em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: auto;
      margin-right: auto; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .main-content:after {
        content: "";
        display: table;
        clear: both; } }

/* ====================FOOTER */
/* line 115, ../scss/style.scss */
footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
  background: #111; }

/* ========================================MODULES */
/* ====================FONT ICON */
/* line 127, ../scss/style.scss */
[data-icon]:before {
  font-family: 'entypo';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Only show icons on small view */
/* line 137, ../scss/style.scss */
.hide {
  position: absolute;
  top: -99999px;
  left: -99999px; }

/* ====================BUTTONS */
/* line 144, ../scss/style.scss */
.button {
  background: #c08a59;
  border-radius: 3px;
  color: #111111;
  padding: 0.5em;
  text-align: center;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s; }
  /* line 151, ../scss/style.scss */
  .button:hover {
    background: #a7703f; }

/* ====================HEADER */
/* line 159, ../scss/style.scss */
nav {
  text-transform: uppercase;
  background: #111;
  overflow: auto; }
  @media (min-width: 40em) {
    /* line 163, ../scss/style.scss */
    nav [data-icon]:before {
      content: ""; } }
  @media (min-width: 40em) {
    /* line 159, ../scss/style.scss */
    nav {
      text-align: center; } }
  @media (min-width: 40em) {
    /* line 171, ../scss/style.scss */
    nav a {
      padding: 0 0.5em; } }
  /* line 176, ../scss/style.scss */
  nav .logo-nav {
    float: left;
    margin-right: 5px;
    padding-top: 0;
    color: #c08a59; }
    @media (min-width: 40em) {
      /* line 176, ../scss/style.scss */
      nav .logo-nav {
        float: none;
        display: inline; } }
  /* line 186, ../scss/style.scss */
  nav .more-nav {
    padding-right: 0.25em; }
    @media (min-width: 40em) {
      /* line 186, ../scss/style.scss */
      nav .more-nav {
        display: none; } }
  @media (min-width: 40em) {
    /* line 192, ../scss/style.scss */
    nav .hide {
      position: static; } }

/* Hide irrelevant icons on small view */
/* line 205, ../scss/style.scss */
.blog .tour-nav, .blog .albums-nav, .blog .media-nav, .blog .store-nav, .blog .contact-nav,
.tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav,
.albums .blog-nav, .albums .tour-nav, .albums .media-nav, .albums .store-nav, .albums .contact-nav,
.media .blog-nav, .media .tour-nav, .media .albums-nav, .media .store-nav, .media .contact-nav,
.store .blog-nav, .store .tour-nav, .store .albums-nav, .store .media-nav, .store .contact-nav,
.contact .blog-nav, .contact .tour-nav, .contact .albums-nav, .contact .media-nav, .contact .store-nav {
  display: none; }
  @media (min-width: 40em) {
    /* line 205, ../scss/style.scss */
    .blog .tour-nav, .blog .albums-nav, .blog .media-nav, .blog .store-nav, .blog .contact-nav,
    .tour .blog-nav, .tour .albums-nav, .tour .media-nav, .tour .store-nav, .tour .contact-nav,
    .albums .blog-nav, .albums .tour-nav, .albums .media-nav, .albums .store-nav, .albums .contact-nav,
    .media .blog-nav, .media .tour-nav, .media .albums-nav, .media .store-nav, .media .contact-nav,
    .store .blog-nav, .store .tour-nav, .store .albums-nav, .store .media-nav, .store .contact-nav,
    .contact .blog-nav, .contact .tour-nav, .contact .albums-nav, .contact .media-nav, .contact .store-nav {
      display: inline; } }

/* line 212, ../scss/style.scss */
.more-nav {
  float: right; }

/* ====================PAGE NAV */
/* line 218, ../scss/style.scss */
.page-nav {
  text-align: center;
  margin-bottom: 1em; }
  /* line 221, ../scss/style.scss */
  .page-nav a {
    background: #333;
    display: block;
    padding: 1em;
    border-right: 1px solid #111111;
    line-height: .1em; }
    /* line 227, ../scss/style.scss */
    .page-nav a:last-child {
      border-right: none; }
    @media (min-width: 40em) {
      /* line 221, ../scss/style.scss */
      .page-nav a {
        background: none;
        color: #e6e6e6;
        border-right: none; } }
  @media (min-width: 40em) {
    /* line 218, ../scss/style.scss */
    .page-nav {
      padding: 1.5em 0; } }

/* line 242, ../scss/style.scss */
.tour .page-nav a {
  width: 25%;
  float: left; }
  @media (min-width: 40em) {
    /* line 242, ../scss/style.scss */
    .tour .page-nav a {
      max-width: 84em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: auto;
      display: inline-block; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .tour .page-nav a:after {
        content: "";
        display: table;
        clear: both; } }

/* line 255, ../scss/style.scss */
.albums .page-nav a {
  width: 33%;
  float: left; }
  @media (min-width: 40em) {
    /* line 255, ../scss/style.scss */
    .albums .page-nav a {
      max-width: 84em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: auto;
      display: inline-block; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .albums .page-nav a:after {
        content: "";
        display: table;
        clear: both; } }

/* line 268, ../scss/style.scss */
.media .page-nav a {
  width: 50%;
  float: left; }
  @media (min-width: 40em) {
    /* line 268, ../scss/style.scss */
    .media .page-nav a {
      max-width: 84em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-left: auto;
      margin-right: auto;
      float: none;
      width: auto;
      display: inline-block; }
      /* line 38, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
      .media .page-nav a:after {
        content: "";
        display: table;
        clear: both; } }

/* ====================FOOTER */
/* line 282, ../scss/style.scss */
footer {
  text-align: center; }

/* ====================BLOG */
/* line 287, ../scss/style.scss */
.post-date {
  float: left; }

/* line 291, ../scss/style.scss */
.post-time {
  float: right; }

/* line 295, ../scss/style.scss */
.postText {
  clear: both; }
  /* line 297, ../scss/style.scss */
  .postText img {
    max-width: 100%;
    height: auto; }

/* ====================TOUR PAGE */
/* line 305, ../scss/style.scss */
.tour-header {
  clear: both; }
  /* line 307, ../scss/style.scss */
  .tour-header h1 {
    display: none; }
    @media (min-width: 40em) {
      /* line 307, ../scss/style.scss */
      .tour-header h1 {
        display: inline-block;
        width: 32.53012%;
        float: left;
        margin-right: 1.20482%; }
        /* line 312, ../scss/style.scss */
        .tour-header h1:last-child {
          width: 32.53012%;
          float: right;
          margin-right: 0; } }

/* line 319, ../scss/style.scss */
.tour-entry {
  clear: both;
  width: 100%;
  padding: 1em 0;
  text-align: right; }
  @media (min-width: 40em) {
    /* line 319, ../scss/style.scss */
    .tour-entry {
      text-align: center; } }
  /* line 327, ../scss/style.scss */
  .tour-entry div {
    margin: 1em 0; }
    @media (min-width: 40em) {
      /* line 327, ../scss/style.scss */
      .tour-entry div {
        margin: 0;
        display: inline-block;
        width: 32.53012%;
        float: left;
        margin-right: 1.20482%; }
        /* line 333, ../scss/style.scss */
        .tour-entry div:last-child {
          width: 32.53012%;
          float: right;
          margin-right: 0; } }
  /* line 339, ../scss/style.scss */
  .tour-entry .tour-date:before, .tour-entry .tour-city:before, .tour-entry .tour-venue:before {
    float: left;
    color: #6599b0; }
    @media (min-width: 40em) {
      /* line 339, ../scss/style.scss */
      .tour-entry .tour-date:before, .tour-entry .tour-city:before, .tour-entry .tour-venue:before {
        display: none; } }
  /* line 348, ../scss/style.scss */
  .tour-entry .tour-date:before {
    content: "DATE"; }
  /* line 353, ../scss/style.scss */
  .tour-entry .tour-city:before {
    content: "CITY"; }
  /* line 358, ../scss/style.scss */
  .tour-entry .tour-venue:before {
    content: "VENUE"; }

/* ====================ALBUMS PAGE */
/* line 367, ../scss/style.scss */
.album-block h1 {
  clear: both; }

/* line 371, ../scss/style.scss */
.album-release {
  text-align: center;
  margin-bottom: 2em; }

/* line 377, ../scss/style.scss */
.album-cover img {
  margin-bottom: 2em;
  max-width: 100%;
  height: auto; }
  @media (min-width: 40em) {
    /* line 377, ../scss/style.scss */
    .album-cover img {
      max-width: 50%;
      width: 49.09091%;
      float: left;
      margin-right: 1.81818%; } }

/* line 388, ../scss/style.scss */
.album-blurb {
  padding-bottom: 2em; }
  @media (min-width: 40em) {
    /* line 388, ../scss/style.scss */
    .album-blurb {
      width: 49.09091%;
      float: right;
      margin-right: 0; } }

/* line 398, ../scss/style.scss */
.album-tracklist h2 {
  background: #333333;
  border-radius: 3px 3px 0 0;
  padding: 5px;
  border-bottom: 1px solid #c08a59;
  margin-bottom: 5px; }
/* line 405, ../scss/style.scss */
.album-tracklist .album-track {
  clear: both;
  overflow: auto;
  margin: 10px 0; }
/* line 410, ../scss/style.scss */
.album-tracklist .album-track-name {
  float: left; }
/* line 413, ../scss/style.scss */
.album-tracklist .album-track-duration {
  float: right; }
@media (min-width: 40em) {
  /* line 397, ../scss/style.scss */
  .album-tracklist {
    clear: both;
    width: 49.09091%;
    float: left;
    margin-right: 1.81818%; } }

/* line 423, ../scss/style.scss */
.album-purchase a {
  outline: 1px solid black;
  display: block;
  width: 100%;
  clear: both;
  margin: 1em 0; }
  @media (min-width: 40em) {
    /* line 423, ../scss/style.scss */
    .album-purchase a {
      width: 90%;
      margin: 0 auto 1em; } }
@media (min-width: 40em) {
  /* line 422, ../scss/style.scss */
  .album-purchase {
    width: 49.09091%;
    float: right;
    margin-right: 0;
    text-align: center; } }

/* ====================CONTACT PAGE */
/* line 442, ../scss/style.scss */
.contact-block {
  text-align: center; }
  @media (min-width: 40em) {
    /* line 444, ../scss/style.scss */
    .contact-block .booking-us-can {
      width: 49.09091%;
      float: left;
      margin-right: 1.81818%; } }
  @media (min-width: 40em) {
    /* line 449, ../scss/style.scss */
    .contact-block .publicity-us, .contact-block .tour-press {
      width: 32%;
      float: left;
      margin-right: 1.81818%; } }
  @media (min-width: 40em) {
    /* line 454, ../scss/style.scss */
    .contact-block .publicity-uk-eu {
      width: 32%;
      float: right;
      margin-right: 0; } }

/* ========================================STATES */
/* ========================================THEMES */
/* line 466, ../scss/style.scss */
.main-content h1 {
  text-transform: uppercase; }

/* ====================ACTIVE MENUS */
/* line 476, ../scss/style.scss */
.blog a.blog-nav,
.tour a.tour-nav,
.albums a.albums-nav,
.media a.media-nav,
.store a.store-nav,
.contact a.contact-nav {
  color: #6599b0; }

/* line 480, ../scss/style.scss */
.active {
  border-bottom: 1px solid #c08a59; }

/* ====================HOME PAGE */
/* line 486, ../scss/style.scss */
.home .logo-home {
  float: left;
  padding-top: 10%; }
/* line 490, ../scss/style.scss */
.home .main-content {
  background: url("../img/home_art.png") no-repeat bottom right; }
