/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
    @include transition(color .2s);
    display: block;
    padding: $base-spacing-unit $base-spacing-unit/2;
    text-align:center;
    color: $background;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;
    background: $black;
    &:hover {
        color:$brand-main;
    }
    &.loading {
        padding-right: $base-spacing-unit;
        &:after {
            content: "";
            position: relative;
            left: $base-spacing-unit/2;
            display: inline-block;
            vertical-align: middle;
            width: $base-spacing-unit/2;
            height: $base-spacing-unit/2;
            background: url('../img/loader.gif') no-repeat;
            background-size: cover;
            margin: 0;
        }
    }
    @include at-breakpoint($medium) {
        padding: $base-spacing-unit/2;
    }
    &:disabled {
        background: rgba($black, 0.5);
    }
}


.dark-button {
    @include transition(background .2s);
    background: $black;
    text-align:center;
    &:hover {
        background: darken($black, 5%);
    }
}

.transparent-button {
    background: none;
    border: 1px solid $white;
    border-radius: 3px;
    color: $white;
    cursor:pointer;
    padding: $base-spacing-unit/2 $base-spacing-unit/2;
    text-align:center;
    text-transform: uppercase;
}
