/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/
.button {
    @include transition(color .2s);
    padding:$padding $padding/2;
    text-align:center;
    color: $background;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:3px;
    background: $black;
    &:hover {
        color:$brand-main;
    }
}


.dark-button {
    @include transition(background .2s);
    background: $black;
    text-align:center;
    &:hover {
        background: darken($black, 5%);
    }
}