/*------------------------------------*\
    $CONTACT BLOCK
    <div class="contact-block" id="Management">
        <h1>Management</h1>
        <ul>
            <li>Kyle Frenette & Nate Vernon</li>
            <li>Middle West Management</li>
            <li>scarey@middlewestmanagement.com</li>
            <li>612.670.8710</li>
        </ul>
    </div>
\*------------------------------------*/
.contact-block {
    margin-bottom: $base-spacing-unit*2;
    text-align:center;
    word-wrap: break-word;
    clear:both;
}