/*------------------------------------*\
    $PHOTO GRID
\*------------------------------------*/


.photo-grid {
    margin: 0 auto;
    width: 100%;
    min-height: 200px;
    text-align: center;
    font-size: 0; // Hack for removing space on inline block
    @include at-breakpoint($medium) {
        width: 450px;
    }
    @include at-breakpoint($large) {
        width: 900px;
    }
}

.photo-grid a {
    //@include transition(opacity 50ms);
    display: inline-block;
    line-height: 0;
    width: 100%;
    &:hover {
        opacity: 1;
    }
    @include at-breakpoint($medium) {
        width: auto;
        opacity: 0.6;
    }
    img {
        width: 100%;
    }
}


/****
* Loading animations
****/

.grid--loading:after {
    @extend .loading;
}

.grid--loaded {
    @include at-breakpoint($medium) {
        background: url('../img/blue.jpg') top center;
    }
}


/****
* Load More Button
****/
.load-more--instagram {
    @include transition(opacity 200ms);
    opacity: 0;
}