/*------------------------------------*\
    $TIMELINE
\*------------------------------------*/
.timeline {
    @include clearfix;
    padding-left: $base-spacing-unit/2;
    @include at-breakpoint($medium) {
        padding-left: 0;
    }
}

.event {
    display: block;
    margin-bottom: $base-spacing-unit/2;
    clear: both;
    @include at-breakpoint($medium) {
        width: 50%;
    }
    h1 {
        &:before,
        &:after {
            @include transition(box-shadow 100ms);
            content: "";
            vertical-align: middle;
            background: $lightblack;
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }
    article {

    }
}

.event--right {
    &:hover {
        h1:before {
            box-shadow: 0 0 0 3px $brand-main;
        }
    }
    h1 {
        &:before {
            display: inline-block;
            margin: 0 $base-spacing-unit/2 0 (-$base-spacing-unit/2);
        }
    }
    article {
        border-left: 6px solid $lightblack;
        margin-left: -3px;
        padding-left: $base-spacing-unit;
    }
    @include at-breakpoint($medium) {
        float: right;
    }
}


.event--left {
    &:hover {
        h1:after {
            box-shadow: 0 0 0 3px $brand-main;
        }
    }
    h1 {
        &:hover:after {
            box-shadow: 0 0 0 3px $brand-main;
        }
        &:before {
            display: inline-block;
            margin: 0 $base-spacing-unit/2 0 (-$base-spacing-unit/2);
            @include at-breakpoint($medium) {
                display: none;
            }
        }
        &:after {
            display: none;
            @include at-breakpoint($medium) {
                display: inline-block;
                margin: 0 (-$base-spacing-unit/2) 0 $base-spacing-unit/2;
            }
        }
    }
    article {
        border-left: 6px solid $lightblack;
        margin-left: -3px;
        padding-left: $base-spacing-unit;
        @include at-breakpoint($medium) {
            border-left: none;
            border-right: 6px solid $lightblack;
            margin-right: -3px;
            margin-left: 0;
            padding-right: $base-spacing-unit;
            padding-left: 0;
        }
    }
    @include at-breakpoint($medium) {
        float: left;
        text-align: right;
    }
}



/****
* Cloud
****/
.cloud {
    font-size: $h6-size;
    @include at-breakpoint($medium) {
        @include column-count(3);
    }
    span {
        display: inline-block;
        width: 100%;
    }
    p {
        line-height: 1;
        margin-bottom: $base-spacing-unit/2;
    }
}