/*------------------------------------*\
    $TOUR BLOCK
    <div class="tour-block">
        <h1 class="center no-margin-bottom">{{ tour.tourname }}</h1>
        {% if tour.support %}<p class="tour-support">* w/ {{ tour.support }}</p>{% endif %}
        {% for show in tour.dates %}
            <a href="{{ show.href }}" class="tour-event" target="_blank">
                <ul>
                    <li class="bold">{{ show.date | date: '%B %-d, %Y' }}{% if tour.support %}*{% endif %}
                    <li>{{ show.city }}
                    <li>{{ show.venue }}
                    {% if show.support %}<li class="tour-support">* w/ {{ show.support }}{% endif %}
                </ul>
                <span class="italic milli">More info.</span>
            </a>
        {% endfor %}
    </div>
\*------------------------------------*/
.tour-block {
    display: block;
    text-align: center;
    @include at-breakpoint($medium) {
        max-width: 60em;
        margin: 0 auto $base-spacing-unit*2;

    }
}

.tour-block__header {
    display: none;
    @include at-breakpoint($medium) {
        display: block;
        p {
            display: inline-block;
            width: 33.33%;
        }
    }
}


.tour-event {
    font-size: 0;
    padding: $base-spacing-unit 0;
    border-bottom: 1px solid $brand-main;
    @include at-breakpoint($medium) {
        padding: $base-spacing-unit/2 0;
        border: none;
    }
    p {
        margin-bottom: $base-spacing-unit;
        &:last-child {
            margin-bottom: 0;
        }
        font-size: $base-font-size;
        @include at-breakpoint($medium) {
            display: inline-block;
            width: 33.33%;
            margin-bottom: 5px;
        }
    }

}



.tour-date,
.tour-city,
.tour-venue {
    &:before {
        @extend .small-header;
        display: block;
        @include at-breakpoint($medium) {
            display: none;
        }
    }
}

.tour-date {
    &:before {
        content: "Date";
    }
}

.tour-city {
    &:before {
        content: 'City';
    }
}

.tour-venue {
    &:before {
        content: "Venue";
    }
}


.tour-support {
    text-align: center;
    margin-bottom: $base-spacing-unit;
    font-style: italic;
    p {
        margin-bottom: $base-spacing-unit/4;
    }
}