{% set linkClass = [
"block",
  "md:py-6",
  "px-4",
  "hover:text-red-700"
] | join(" ") %}

{% set headerCls = [
  "container",
  "mx-auto",
  "mb-8",
  "px-2"
] | join(" ") %}

{% macro link(text, href, cls, blank) %}
<a {%if blank %} target="_blank" rel="noreferrer nofollow noopener" {% endif %} class="{{cls}} {{linkClass}} {% if page.url == href %}text-red-700{% endif %}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

<header class="{{headerCls}} md:hidden text-xs">
  <nav class="flex flex-col uppercase tracking-widest">
    <a href="/" class="w-40 py-4 mx-auto"><img src="/img/logo-dark.png" alt="S. Carey home"/></a>
    <div class="flex justify-between flex-wrap">
      {{ link("Discography", "/discography/", "px-2 text-center")}}
      {{ link("Shows", "/shows/", "px-2 text-center")}}
      {{ link("Store", "https://merch.ambientinks.com/collections/scarey", "px-2 text-center", true)}}
      {{ link("Contact", "/contact/", "px-2 text-center")}}
    </div>
  </nav>
</header>

<header class="{{headerCls}} hidden md:block text-xs">
  <nav class="flex flex-row items-center justify-between uppercase tracking-widest">
    <a class="w-32" style="position: relative; top: 12px;" href="/"><img src="/img/logo-dark-unpadded.png" alt="S. Carey home"/></a>
    <ul class="flex items-center -mr-4">
      <li>{{ link("Discography", "/discography/", "")}}</li>
      <li>{{ link("Shows", "/shows/", "")}}</li>
      <li>{{ link("Store", "https://merch.ambientinks.com/collections/scarey", "", true)}}</li>
      <li>{{ link("Contact", "/contact/", "")}}</li>
    </ul>
  </nav>
</header>
