{% set linkClass = [
"block",
  "md:py-6",
  "hover:text-red-700"
] | join(" ") %}

{% set headerCls = [
  "container",
  "mx-auto",
  "mb-8",
  "px-4"
] | join(" ") %}

{% macro link(text, href, cls, blank) %}
<a {%if blank %} target="_blank" rel="noreferrer nofollow noopener" {% endif %} class="{{cls}} {{linkClass}} {% if page.url == href %}text-red-700{% endif %}" href="{{ href }}">{{ text }}</a>
{% endmacro %}

<header class="{{headerCls}} md:hidden text-xs">
  <nav class="flex flex-col uppercase tracking-widest">
    <a href="/" class="block w-100 pt-4" ><img class="w-40" src="/img/logo-dark.png" style="position: relative; left: -12px;" alt="S. Carey home"/></a>
    <ul class="flex flex-wrap justify-between">
      <li>{{ link("Discography", "/discography/", "py-3")}}</li>
      <li>{{ link("Shows", "/shows/", "py-3")}}</li>
      <li>{{ link("Store", "https://merch.ambientinks.com/collections/scarey", "py-3", true)}}</li>
      <li>{{ link("Contact", "/contact/", "py-3")}}</li>
    </ul>
  </nav>
</header>

<header class="{{headerCls}} hidden md:block text-xs">
  <nav class="flex flex-row items-center justify-between uppercase tracking-widest">
    <a class="w-32" style="position: relative; top: 12px;" href="/"><img src="/img/logo-dark-unpadded.png" alt="S. Carey home"/></a>
    <ul class="flex items-center -mr-4">
      <li>{{ link("Discography", "/discography/", "px-4")}}</li>
      <li>{{ link("Shows", "/shows/", "px-4")}}</li>
      <li>{{ link("Store", "https://merch.ambientinks.com/collections/scarey", "px-4", true)}}</li>
      <li>{{ link("Contact", "/contact/", "px-4")}}</li>
    </ul>
  </nav>
</header>
